openapi: 3.2.0
info:
  version: '2026-05-22'
  title: Pipedream Users API
  description: 'The Pipedream API is the unified REST surface for Pipedream''s workflow automation, Connect (embedded integrations), MCP, and proxy services. It exposes account, user, component, action, trigger, deployed-trigger, webhook, project, proxy, file_stash, token, usage, and OAuth endpoints. Authentication is via OAuth 2.0 client credentials or a short-lived Connect token. Source: https://pipedream.com/docs/pipedream_openapi_swagger.json'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://api.pipedream.com
tags:
- name: Users
paths:
  /v1/connect/{project_id}/users:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: List Users
      description: Retrieve all external users for the project
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: after
        in: query
        required: false
        description: The cursor to start from for pagination
        schema:
          type: string
      - name: before
        in: query
        required: false
        description: The cursor to end before for pagination
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The maximum number of results to return
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Filter users by external_id (partial match)
        schema:
          type: string
      operationId: listUsers
      x-fern-sdk-group-name: users
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.after
        next_cursor: $response.page_info.end_cursor
        results: $response.data
      security:
      - OAuth2:
        - connect:users:read
      responses:
        '200':
          description: users listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUsersResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.users.requests.UsersListRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.users().list(\n    UsersListRequest\n    .builder()\n    .after(\"after\")\n    .before(\"before\")\n    .limit(1)\n    .q(\"q\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nconst response = await client.users.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\"\n});\nfor await (const item of response) {\n  console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.users.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\"\n});\nwhile (page.hasNextPage()) {\n  page = page.getNextPage();\n}\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nresponse = client.users.list(\n  after=\"after\",\n  before=\"before\",\n  limit=1,\n  q=\"q\",\n)\nfor item in response:\n  yield item\n# alternatively, you can paginate page-by-page\nfor page in response.iter_pages():\n  yield page\n"
      tags:
      - Users
components:
  schemas:
    ProjectEnvironment:
      type: string
      description: The environment in which the server client is running
      enum:
      - development
      - production
    ExternalUser:
      type: object
      required:
      - id
      - external_id
      properties:
        id:
          type: string
          description: The external user's Pipedream ID
          example: exu_abc123
        external_id:
          type: string
          description: Your identifier for the external user
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    PageInfo:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned
          example: 10
        total_count:
          type: integer
          description: Total number of items
          example: 120
        start_cursor:
          type:
          - string
          - 'null'
          description: Used to fetch the previous page of items
        end_cursor:
          type:
          - string
          - 'null'
          description: Used to fetch the next page of items
    GetUsersResponse:
      type: object
      required:
      - data
      - page_info
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ExternalUser'
        page_info:
          $ref: '#/components/schemas/PageInfo'
  securitySchemes:
    OAuth2:
      description: A short-lived OAuth access token for server-side requests. Generate one via the Generate OAuth Token flow or automatically when initializing the SDK client.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pipedream.com/v1/oauth/token
          scopes:
            '*': Full access to every OAuth-protected endpoint.
            connect:*: Full access to all Connect API endpoints (components, projects, triggers, accounts, etc.).
            connect:actions:*: Full access to Connect actions.
            connect:triggers:*: Full access to Connect triggers.
            connect:accounts:read: List and fetch Connect accounts for an external user.
            connect:accounts:write: Create or remove Connect accounts.
            connect:deployed_triggers:read: Read deployed triggers and related data like events, pipelines and webhooks.
            connect:deployed_triggers:write: Modify or delete deployed triggers.
            connect:users:read: List and fetch external users
            connect:users:write: Delete external users.
            connect:projects:read: List and fetch projects owned by the workspace.
            connect:projects:write: Create, update, or delete projects owned by the workspace.
            connect:usage:read: List Connect usage records for a time window.
            connect:tokens:create: Create Connect session tokens.
            connect:proxy: Invoke the Connect proxy.
            connect:workflow:invoke: Invoke Connect workflows on behalf of a user.
    ConnectToken:
      description: A short-lived Connect token for client-side requests on behalf of an end user. Generate one via the Create Connect token endpoint.
      type: http
      scheme: bearer
      bearerFormat: ^ctok_[0-9a-f]{32}$
x-fern-sdk-variables:
  project_id:
    type: string
