openapi: 3.0.3
info:
  title: Pipedream MCP Server Accounts OAuth API
  version: v3
  description: 'Pipedream''s Model Context Protocol (MCP) server exposes 2,800+ integrated apps and 10,000+ tools as a hosted MCP endpoint. The server supports both SSE and streamable HTTP transports dynamically with no client configuration required. Authentication uses OAuth 2.0 client credentials; per-request context is supplied via x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers. Source: https://pipedream.com/docs/connect/mcp/developers'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://remote.mcp.pipedream.net/v3
  description: Hosted Pipedream MCP server
security:
- bearerAuth: []
tags:
- name: OAuth
paths:
  /v1/oauth/token:
    post:
      summary: Create OAuth Token
      description: Exchange OAuth credentials for an access token
      operationId: createOauthToken
      x-fern-sdk-group-name: oauthTokens
      x-fern-sdk-method-name: create
      parameters: []
      responses:
        '200':
          description: token created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOAuthTokenResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOAuthTokenOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.oauthtokens.requests.CreateOAuthTokenOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .build();\n\n  client.oauthTokens().create(\n    CreateOAuthTokenOpts\n    .builder()\n    .grantType(\"client_credentials\")\n    .clientId(\"client_id\")\n    .clientSecret(\"client_secret\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.oauthTokens.create({\n  clientId: \"client_id\",\n  clientSecret: \"client_secret\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.oauth_tokens.create(\n  client_id=\"client_id\",\n  client_secret=\"client_secret\",\n)\n"
      tags:
      - OAuth
components:
  schemas:
    CreateOAuthTokenResponse:
      type: object
      description: Response object for creating an OAuth token
      required:
      - access_token
      - token_type
      - expires_in
      properties:
        access_token:
          type: string
        token_type:
          type: string
        expires_in:
          type: integer
    CreateOAuthTokenOpts:
      type: object
      description: Request object for creating an OAuth token
      required:
      - grant_type
      - client_id
      - client_secret
      properties:
        grant_type:
          type: string
          enum:
          - client_credentials
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
          description: Optional space-separated scopes for the access token. Defaults to `*`.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
