openapi: 3.0.3
info:
  title: Pipedream MCP Server Accounts Webhooks API
  version: v3
  description: 'Pipedream''s Model Context Protocol (MCP) server exposes 2,800+ integrated apps and 10,000+ tools as a hosted MCP endpoint. The server supports both SSE and streamable HTTP transports dynamically with no client configuration required. Authentication uses OAuth 2.0 client credentials; per-request context is supplied via x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers. Source: https://pipedream.com/docs/connect/mcp/developers'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://remote.mcp.pipedream.net/v3
  description: Hosted Pipedream MCP server
security:
- bearerAuth: []
tags:
- name: Webhooks
paths:
  /v1/connect/{project_id}/webhook:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: Get Project Environment Webhook
      description: Retrieve the webhook configured for a project environment
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      operationId: retrieveProjectEnvironmentWebhook
      x-fern-sdk-group-name: projectEnvironment
      x-fern-sdk-method-name: retrieveWebhook
      security:
      - OAuth2: []
      responses:
        '200':
          description: webhook retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.projectEnvironment().retrieveWebhook();\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.projectEnvironment.retrieveWebhook();\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.project_environment.retrieve_webhook()\n"
      tags:
      - Webhooks
    put:
      summary: Set Project Environment Webhook
      description: Create or update the webhook URL for a project environment. Creating a webhook returns `signing_key`; updating an existing webhook does not.
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      operationId: updateProjectEnvironmentWebhook
      x-fern-sdk-group-name: projectEnvironment
      x-fern-sdk-method-name: updateWebhook
      security:
      - OAuth2: []
      responses:
        '200':
          description: webhook updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetWebhookResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWebhookOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.projectenvironment.requests.SetWebhookOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.projectEnvironment().updateWebhook(\n    SetWebhookOpts\n    .builder()\n    .url(\"url\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.projectEnvironment.updateWebhook({\n  url: \"url\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.project_environment.update_webhook(\n  url=\"url\",\n)\n"
      tags:
      - Webhooks
    delete:
      summary: Delete Project Environment Webhook
      description: Remove the webhook configured for a project environment
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      operationId: deleteProjectEnvironmentWebhook
      x-fern-sdk-group-name: projectEnvironment
      x-fern-sdk-method-name: deleteWebhook
      security:
      - OAuth2: []
      responses:
        '204':
          description: webhook deleted
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.projectEnvironment().deleteWebhook();\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.projectEnvironment.deleteWebhook();\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.project_environment.delete_webhook()\n"
      tags:
      - Webhooks
  /v1/connect/{project_id}/webhook/regenerate_signing_key:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Regenerate Webhook Signing Key
      description: Regenerate the signing key for the project environment webhook
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      operationId: regenerateProjectEnvironmentWebhookSigningKey
      x-fern-sdk-group-name: projectEnvironment
      x-fern-sdk-method-name: regenerateWebhookSigningKey
      security:
      - OAuth2: []
      responses:
        '200':
          description: signing key regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookWithSigningKeyResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.projectEnvironment().regenerateWebhookSigningKey();\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.projectEnvironment.regenerateWebhookSigningKey();\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.project_environment.regenerate_webhook_signing_key()\n"
      tags:
      - Webhooks
components:
  schemas:
    WebhookWithOptionalSigningKey:
      type: object
      description: A webhook object that may include the signing key. The signing key is returned when a webhook is created, but omitted when an existing webhook is updated.
      required:
      - id
      - url
      - signing_key_set
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: The unique ID of the webhook
        url:
          type: string
          format: uri
          description: The webhook URL
        signing_key:
          type: string
          description: The webhook signing key, when returned by the endpoint
        signing_key_set:
          type: boolean
          description: Whether a signing key has been set for this webhook
        created_at:
          type: integer
          description: The time the webhook was created, in epoch seconds
        updated_at:
          type: integer
          description: The time the webhook was last updated, in epoch seconds
    SetWebhookResponse:
      type: object
      description: Response received when creating or updating a webhook
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/WebhookWithOptionalSigningKey'
    Webhook:
      type: object
      description: A webhook object
      required:
      - id
      - url
      - signing_key_set
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: The unique ID of the webhook
        url:
          type: string
          format: uri
          description: The webhook URL
        signing_key_set:
          type: boolean
          description: Whether a signing key has been set for this webhook
        created_at:
          type: integer
          description: The time the webhook was created, in epoch seconds
        updated_at:
          type: integer
          description: The time the webhook was last updated, in epoch seconds
    WebhookWithSigningKey:
      type: object
      description: A webhook object including the signing key
      required:
      - id
      - url
      - signing_key
      - signing_key_set
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: The unique ID of the webhook
        url:
          type: string
          format: uri
          description: The webhook URL
        signing_key:
          type: string
          description: The webhook signing key
        signing_key_set:
          type: boolean
          description: Whether a signing key has been set for this webhook
        created_at:
          type: integer
          description: The time the webhook was created, in epoch seconds
        updated_at:
          type: integer
          description: The time the webhook was last updated, in epoch seconds
    ProjectEnvironment:
      type: string
      description: The environment in which the server client is running
      enum:
      - development
      - production
    SetWebhookOpts:
      type: object
      description: Request options for setting a webhook URL
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: The webhook URL to set
    GetWebhookResponse:
      type: object
      description: Response received when retrieving a webhook
      required:
      - data
      properties:
        data:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/Webhook'
    GetWebhookWithSigningKeyResponse:
      type: object
      description: Response received when retrieving a webhook with its signing key
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/WebhookWithSigningKey'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
