openapi: 3.0.3
info:
  title: Pipedream MCP Server Accounts File Stash API
  version: v3
  description: 'Pipedream''s Model Context Protocol (MCP) server exposes 2,800+ integrated apps and 10,000+ tools as a hosted MCP endpoint. The server supports both SSE and streamable HTTP transports dynamically with no client configuration required. Authentication uses OAuth 2.0 client credentials; per-request context is supplied via x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers. Source: https://pipedream.com/docs/connect/mcp/developers'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://remote.mcp.pipedream.net/v3
  description: Hosted Pipedream MCP server
security:
- bearerAuth: []
tags:
- name: File Stash
paths:
  /v1/connect/{project_id}/file_stash/download:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: Download File
      description: Download a file from File Stash
      operationId: downloadFileStashFile
      x-fern-sdk-group-name: fileStash
      x-fern-sdk-method-name: downloadFile
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: s3_key
        in: query
        schema:
          type: string
          pattern: ^1day\/[^\/]+\/[^\/]+\/[^\/]+\/u\/.*$
          description: The S3 key for the file to download
        required: true
      responses:
        '200':
          description: file contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '302':
          description: redirected to presigned URL
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: The presigned URL
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.filestash.requests.FileStashDownloadFileRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.fileStash().downloadFile(\n    FileStashDownloadFileRequest\n    .builder()\n    .s3Key(\"s3_key\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.fileStash.downloadFile({\n  s3Key: \"s3_key\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.file_stash.download_file(\n  s_3_key=\"s3_key\",\n)\n"
      tags:
      - File Stash
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
