openapi: 3.2.0
info:
  version: '2026-05-22'
  title: Pipedream Actions API
  description: 'The Pipedream API is the unified REST surface for Pipedream''s workflow automation, Connect (embedded integrations), MCP, and proxy services. It exposes account, user, component, action, trigger, deployed-trigger, webhook, project, proxy, file_stash, token, usage, and OAuth endpoints. Authentication is via OAuth 2.0 client credentials or a short-lived Connect token. Source: https://pipedream.com/docs/pipedream_openapi_swagger.json'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://api.pipedream.com
tags:
- name: Actions
paths:
  /v1/connect/{project_id}/actions:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: List Actions
      description: Retrieve available actions with optional search and app filtering
      operationId: listActions
      x-fern-sdk-group-name: actions
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.after
        next_cursor: $response.page_info.end_cursor
        results: $response.data
      parameters:
      - name: after
        in: query
        required: false
        description: The cursor to start from for pagination
        schema:
          type: string
      - name: before
        in: query
        required: false
        description: The cursor to end before for pagination
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The maximum number of results to return
        schema:
          type: integer
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: q
        in: query
        description: A search query to filter the actions
        schema:
          type: string
      - name: app
        in: query
        description: The ID or name slug of the app to filter the actions
        schema:
          type: string
      - name: registry
        in: query
        schema:
          type: string
          enum:
          - public
          - private
          - all
        description: The registry to retrieve actions from. Defaults to 'all' ('public', 'private', or 'all')
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: returns public + private without permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetComponentsResponse'
        '400':
          description: rejects invalid registry value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.actions.requests.ActionsListRequest;\nimport com.pipedream.api.resources.actions.types.ActionsListRequestRegistry;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.actions().list(\n    ActionsListRequest\n    .builder()\n    .after(\"after\")\n    .before(\"before\")\n    .limit(1)\n    .q(\"q\")\n    .app(\"app\")\n    .registry(ActionsListRequestRegistry.PUBLIC)\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nconst response = await client.actions.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\",\n  app: \"app\",\n  registry: \"public\"\n});\nfor await (const item of response) {\n  console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.actions.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\",\n  app: \"app\",\n  registry: \"public\"\n});\nwhile (page.hasNextPage()) {\n  page = page.getNextPage();\n}\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nresponse = client.actions.list(\n  after=\"after\",\n  before=\"before\",\n  limit=1,\n  q=\"q\",\n  app=\"app\",\n  registry=\"public\",\n)\nfor item in response:\n  yield item\n# alternatively, you can paginate page-by-page\nfor page in response.iter_pages():\n  yield page\n"
      tags:
      - Actions
  /v1/connect/{project_id}/actions/{component_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: Retrieve Action
      description: Get detailed configuration for a specific action by its key
      operationId: retrieveAction
      x-fern-sdk-group-name: actions
      x-fern-sdk-method-name: retrieve
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: component_id
        in: path
        required: true
        description: The key that uniquely identifies the component (e.g., 'slack-send-message')
        schema:
          type: string
      - name: version
        in: query
        required: false
        description: Optional semantic version of the component to retrieve (for example '1.0.0')
        example: 1.2.3
        schema:
          type: string
      x-fern-sdk-return-value: data
      responses:
        '200':
          description: action retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetComponentResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.actions.requests.ActionsRetrieveRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.actions().retrieve(\n    \"component_id\",\n    ActionsRetrieveRequest\n    .builder()\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.actions.retrieve(\"component_id\", {\n  version: \"1.2.3\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.actions.retrieve(\n  component_id=\"component_id\",\n  version=\"1.2.3\",\n)\n"
      tags:
      - Actions
  /v1/connect/{project_id}/actions/configure:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Configure Action Prop
      description: Retrieve remote options for a given prop for a action
      operationId: configureActionProp
      x-fern-sdk-group-name: actions
      x-fern-sdk-method-name: configureProp
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      responses:
        '200':
          description: action configuration started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurePropResponse'
        '202':
          description: Async operation started
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurePropOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.types.ConfigurePropOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.actions().configureProp(\n    ConfigurePropOpts\n    .builder()\n    .id(\"id\")\n    .externalUserId(\"external_user_id\")\n    .propName(\"prop_name\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.actions.configureProp({\n  id: \"id\",\n  externalUserId: \"external_user_id\",\n  propName: \"prop_name\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.actions.configure_prop(\n  id=\"id\",\n  external_user_id=\"external_user_id\",\n  prop_name=\"prop_name\",\n)\n"
      tags:
      - Actions
  /v1/connect/{project_id}/actions/props:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Reload Action Props
      operationId: reloadActionProps
      x-fern-sdk-group-name: actions
      x-fern-sdk-method-name: reloadProps
      description: Reload the prop definition based on the currently configured props
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      responses:
        '200':
          description: action props reloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReloadPropsResponse'
        '202':
          description: Async operation started
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReloadPropsOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.types.ReloadPropsOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.actions().reloadProps(\n    ReloadPropsOpts\n    .builder()\n    .id(\"id\")\n    .externalUserId(\"external_user_id\")\n                .configuredProps(Map.of(\"key\", \"value\"))\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.actions.reloadProps({\n  id: \"id\",\n  externalUserId: \"external_user_id\",\n  configuredProps: { key: \"value\" }\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.actions.reload_props(\n  id=\"id\",\n  external_user_id=\"external_user_id\",\n  configured_props={ \"key\": \"value\" },\n)\n"
      tags:
      - Actions
  /v1/connect/{project_id}/actions/run:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Run Action
      description: Execute an action with the provided configuration and return results
      operationId: runAction
      x-fern-sdk-group-name: actions
      x-fern-sdk-method-name: run
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      responses:
        '200':
          description: action ran
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunActionResponse'
        '202':
          description: Async operation started
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunActionOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.actions.requests.RunActionOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.actions().run(\n    RunActionOpts\n    .builder()\n    .id(\"id\")\n    .externalUserId(\"external_user_id\")\n                .configuredProps(Map.of(\"key\", \"value\"))\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.actions.run({\n  id: \"id\",\n  externalUserId: \"external_user_id\",\n  configuredProps: { key: \"value\" }\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.actions.run(\n  id=\"id\",\n  external_user_id=\"external_user_id\",\n  configured_props={ \"key\": \"value\" },\n)\n"
      tags:
      - Actions
components:
  schemas:
    ConfiguredPropValue:
      oneOf:
      - $ref: '#/components/schemas/ConfiguredPropValueAny'
      - $ref: '#/components/schemas/ConfiguredPropValueApp'
      - $ref: '#/components/schemas/ConfiguredPropValueBoolean'
      - $ref: '#/components/schemas/ConfiguredPropValueInteger'
      - $ref: '#/components/schemas/ConfiguredPropValueObject'
      - $ref: '#/components/schemas/ConfiguredPropValueSql'
      - $ref: '#/components/schemas/ConfiguredPropValueString'
      - $ref: '#/components/schemas/ConfiguredPropValueStringArray'
    ErrorResponse:
      type: object
      description: Error response returned by the API in case of an error
      required:
      - error
      properties:
        error:
          type: string
          description: The error message
        code:
          type: string
          description: The error code
        details:
          type: object
          description: Additional error details
    ConfigurablePropStringArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of strings.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string[]
          secret:
            type:
            - boolean
            - 'null'
            description: If true, this prop is a secret and should not be displayed in plain text.
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ConfiguredPropValueString'
            description: The default value for this prop
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    Observation:
      type: object
      description: Any logs produced during the configuration of the prop
      required:
      - k
      - ts
      properties:
        err:
          $ref: '#/components/schemas/ObservationError'
        k:
          type: string
          description: The source of the log (e.g. `console.log`)
        msg:
          type: string
          description: The log message
        ts:
          type: number
          description: The time at which the log was produced, as milliseconds since the epoch
    ConfiguredPropValueApp:
      type: object
      required:
      - authProvisionId
      properties:
        authProvisionId:
          $ref: '#/components/schemas/AccountId'
    ConfigurablePropAlert:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an alert component
        required:
        - type
        - content
        properties:
          type:
            type: string
            enum:
            - alert
          alertType:
            $ref: '#/components/schemas/ConfigurablePropAlertType'
          content:
            type: string
            description: The content of the alert, which can include HTML or plain text.
    ConfigurablePropDiscord:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: For Discord components, this prop can accept a Discord channel ID.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
    ConfigurablePropAirtableBaseId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable base.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.baseId
          appProp:
            type: string
            description: The name of the app prop that provides Airtable authentication
    Component:
      type: object
      required:
      - key
      - name
      - version
      - configurable_props
      properties:
        key:
          type: string
          description: The key that uniquely identifies the component.
        name:
          type: string
          description: 'The human-readable name of the component, e.g. ''GitLab: List Commits'''
        version:
          type: string
          description: The latest version of the component, in SemVer format.
          pattern: ^\d+.\d+.\d+$
        configurable_props:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurableProp'
        description:
          type:
          - string
          - 'null'
          description: A description of the component
        component_type:
          type:
          - string
          - 'null'
          description: The type of component (trigger or action)
        stash:
          $ref: '#/components/schemas/ComponentStash'
        annotations:
          $ref: '#/components/schemas/ToolAnnotations'
    PropOption:
      type: object
      description: A configuration option for a component's prop
      required:
      - label
      - value
      properties:
        label:
          type: string
          description: The human-readable label for the option
        value:
          $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropSql:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure SQL queries.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - sql
          auth:
            $ref: '#/components/schemas/ConfigurablePropSqlAuth'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueSql'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurePropOpts:
      type: object
      description: Request options for configuring a component's prop
      required:
      - id
      - external_user_id
      - prop_name
      properties:
        id:
          type: string
          description: The component ID
        version:
          type:
          - string
          - 'null'
          description: Optional component version (in SemVer format, for example '1.0.0'), defaults to latest
          example: 1.2.3
        external_user_id:
          type: string
          description: The external user ID
        prop_name:
          type: string
          description: The name of the prop to configure
        blocking:
          type: boolean
          description: Whether this operation should block until completion
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        dynamic_props_id:
          type: string
          description: The ID for dynamic props
        page:
          type: number
          description: Page number for paginated results
        prev_context:
          type: object
          description: Previous context for pagination
        query:
          type: string
          description: Search query for filtering options
    ConfigurablePropDiscordChannelArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select multiple Discord channels.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel[]
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    GetComponentsResponse:
      type: object
      description: Response received when retrieving a list of components
      required:
      - data
      - page_info
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        page_info:
          $ref: '#/components/schemas/PageInfo'
    ConfigurablePropHttpRequest:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP request with URL, method, headers, params, body, and authentication.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - http_request
          default:
            $ref: '#/components/schemas/HttpRequestConfig'
    ReloadPropsOpts:
      type: object
      description: Request options for reloading a component's props when dealing with dynamic props
      required:
      - id
      - external_user_id
      properties:
        id:
          type: string
          description: The component ID
        version:
          type:
          - string
          - 'null'
          description: Optional component version (in SemVer format, for example '1.0.0'), defaults to latest
          example: 1.2.3
        external_user_id:
          type: string
          description: The external user ID
        blocking:
          type: boolean
          description: Whether this operation should block until completion
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        dynamic_props_id:
          type: string
          description: The ID for dynamic props
    ConfigurablePropApp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an account for a specific app
        required:
        - type
        - app
        properties:
          type:
            type: string
            enum:
            - app
          app:
            type: string
            description: The name slug of the app, e.g. 'github', 'slack', etc. This is used to identify the app for which the account is being configured.
    ConfigurablePropObject:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a set of key-value pairs.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - object
          default:
            $ref: '#/components/schemas/ConfiguredPropValueObject'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfiguredProps:
      type: object
      description: The configured properties of the component
      additionalProperties:
        $ref: '#/components/schemas/ConfiguredPropValue'
    ObservationError:
      type: object
      description: Details about an observed error message
      properties:
        name:
          type: string
          description: The name of the error/exception
        message:
          type: string
          description: The error message
        stack:
          type: string
          description: The stack trace of the error
    ConfigurablePropDb:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a database service.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.service.db
    HttpRequestConfig:
      type:
      - object
      - 'null'
      description: Configuration for an HTTP request prop
      properties:
        auth:
          $ref: '#/components/schemas/HttpRequestAuth'
        body:
          $ref: '#/components/schemas/HttpRequestBody'
        headers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HttpRequestField'
        params:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HttpRequestField'
        tab:
          type:
          - string
          - 'null'
        method:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
    PropOptionValue:
      description: The value of a prop option
      oneOf:
      - type: string
      - type: integer
      - type: boolean
    ConfigurablePropDirAccessMode:
      type: string
      enum:
      - read
      - write
      - read-write
      x-fern-enum:
        read-write:
          name: ReadWrite
      description: The mode in which the component may access File Stash
    ConfiguredPropValueAny: {}
    ConfigurePropResponse:
      type: object
      description: Response received after configuring a component's prop
      properties:
        options:
          $ref: '#/components/schemas/ConfigurePropOptions'
        stringOptions:
          type:
          - array
          - 'null'
          items:
            type: string
          description: Available options for the configured prop
        observations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Observation'
        context:
          type:
          - object
          - 'null'
          description: New context after configuring the prop
        errors:
          type: array
          items:
            type: string
          description: Any errors that occurred during configuration
    TimerInterval:
      type: object
      description: Timer configuration using interval in seconds
      required:
      - intervalSeconds
      properties:
        intervalSeconds:
          type: integer
          description: Interval in seconds for timer execution
    ProjectEnvironment:
      type: string
      description: The environment in which the server client is running
      enum:
      - development
      - production
    ConfigurablePropAlertType:
      type: string
      enum:
      - info
      - neutral
      - warning
      - error
      description: The severity level of the alert.
    RunActionOptsStashId:
      anyOf:
      - $ref: '#/components/schemas/StashId'
      - type: string
        enum:
        - NEW
      - type: boolean
      description: The ID of the File Stash to use for syncing the action's /tmp directory, or either `true` or 'NEW' to create a new stash
    RunActionOpts:
      type: object
      description: Request options for running an action
      required:
      - id
      - external_user_id
      properties:
        id:
          type: string
          description: The action component ID
        version:
          type:
          - string
          - 'null'
          description: Optional action component version (in SemVer format, for example '1.0.0'), defaults to latest
          example: 1.2.3
        external_user_id:
          type: string
          description: The external user ID
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        dynamic_props_id:
          type: string
          description: The ID for dynamic props
        stash_id:
          $ref: '#/components/schemas/RunActionOptsStashId'
    ConfigurableProp:
      description: A configuration or input field for a component. This is a discriminated union based on the type field.
      oneOf:
      - $ref: '#/components/schemas/ConfigurablePropAlert'
      - $ref: '#/components/schemas/ConfigurablePropAny'
      - $ref: '#/components/schemas/ConfigurablePropApp'
      - $ref: '#/components/schemas/ConfigurablePropBoolean'
      - $ref: '#/components/schemas/ConfigurablePropDataStore'
      - $ref: '#/components/schemas/ConfigurablePropDir'
      - $ref: '#/components/schemas/ConfigurablePropTimer'
      - $ref: '#/components/schemas/ConfigurablePropApphook'
      - $ref: '#/components/schemas/ConfigurablePropIntegerArray'
      - $ref: '#/components/schemas/ConfigurablePropHttp'
      - $ref: '#/components/schemas/ConfigurablePropHttpRequest'
      - $ref: '#/components/schemas/ConfigurablePropDb'
      - $ref: '#/components/schemas/ConfigurablePropSql'
      - $ref: '#/components/schemas/ConfigurablePropAirtableBaseId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableTableId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableViewId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableFieldId'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannel'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannelArray'
      - $ref: '#/components/schemas/ConfigurablePropDiscord'
      - $ref: '#/components/schemas/ConfigurablePropInteger'
      - $ref: '#/components/schemas/ConfigurablePropObject'
      - $ref: '#/components/schemas/ConfigurablePropString'
      - $ref: '#/components/schemas/ConfigurablePropStringArray'
      discriminator:
        propertyName: type
        mapping:
          alert: '#/components/schemas/ConfigurablePropAlert'
          any: '#/components/schemas/ConfigurablePropAny'
          app: '#/components/schemas/ConfigurablePropApp'
          boolean: '#/components/schemas/ConfigurablePropBoolean'
          data_store: '#/components/schemas/ConfigurablePropDataStore'
          dir: '#/components/schemas/ConfigurablePropDir'
          $.interface.timer: '#/components/schemas/ConfigurablePropTimer'
          $.interface.apphook: '#/components/schemas/ConfigurablePropApphook'
          integer[]: '#/components/schemas/ConfigurablePropIntegerArray'
          $.interface.http: '#/components/schemas/ConfigurablePropHttp'
          http_request: '#/components/schemas/ConfigurablePropHttpRequest'
          $.service.db: '#/components/schemas/ConfigurablePropDb'
          sql: '#/components/schemas/ConfigurablePropSql'
          $.airtable.baseId: '#/components/schemas/ConfigurablePropAirtableBaseId'
          $.airtable.tableId: '#/components/schemas/ConfigurablePropAirtableTableId'
          $.airtable.viewId: '#/components/schemas/ConfigurablePropAirtableViewId'
          $.airtable.fieldId: '#/components/schemas/ConfigurablePropAirtableFieldId'
          $.discord.channel: '#/components/schemas/ConfigurablePropDiscordChannel'
          $.discord.channel[]: '#/components/schemas/ConfigurablePropDiscordChannelArray'
          integer: '#/components/schemas/ConfigurablePropInteger'
          object: '#/components/schemas/ConfigurablePropObject'
          string: '#/components/schemas/ConfigurablePropString'
          string[]: '#/components/schemas/ConfigurablePropStringArray'
    ConfigurablePropHttp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.http
          customResponse:
            type:
            - boolean
            - 'null'
            description: Whether this HTTP interface allows custom responses
    ConfigurablePropTimerDefault:
      description: Default timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    RunActionResponse:
      type: object
      description: The response received after running an action. See https://pipedream.com/docs/components/api#returning-data-from-steps for more details.
      properties:
        exports:
          type: object
          additionalProperties: true
          description: The key-value pairs resulting from calls to `$.export`
        os:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
          description: Any logs produced during the execution of the action
        ret:
          description: The value returned by the action
        stash_id:
          $ref: '#/components/schemas/StashId'
    ConfigurablePropTimerStatic:
      description: Static timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    ToolAnnotations:
      type:
      - object
      - 'null'
      description: Optional properties describing component behavior
      properties:
        destructiveHint:
          type:
          - boolean
          - 'null'
          description: If true, the component may perform destructive updates to its environment. If false, the component performs only additive updates.
        idempotentHint:
          type:
          - boolean
          - 'null'
          description: If true, calling the component repeatedly with the same arguments will have no additional effect on the its environment.
        openWorldHint:
          type:
          - boolean
          - 'null'
          description: If true, this component may interact with an “open world” of external entities. If false, the component's domain of interaction is closed. For example, the world of a web search component is open, whereas that of a memory component is not.
        readOnlyHint:
          type:
          - boolean
          - 'null'
          description: If true, the component does not modify its environment.
        title:
          type:
          - string
          - 'null'
          description: A human-readable title for the component.
    ConfigurablePropDiscordChannel:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select a Discord channel.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    ConfigurablePropAirtableViewId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable view.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.viewId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    HttpRequestField:
      type: object
      description: A name-value field for HTTP request configuration
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: The field name
        value:
          type: string
          description: The field value
    ReloadPropsResponse:
      type: object
      description: Response from reloading component props
      properties:
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        errors:
          type: array
          items:
            type: string
          description: Any errors that occurred during configuration
        dynamicProps:
          $ref: '#/components/schemas/DynamicProps'
    ConfigurablePropAny:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept any value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - any
          default:
            $ref: '#/components/schemas/ConfiguredPropValueAny'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropAirtableFieldId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable field.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.fieldId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    ConfigurablePropTimer:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a timer interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.timer
          static:
            $ref: '#/components/schemas/ConfigurablePropTimerStatic'
          default:
            $ref: '#/components/schemas/ConfigurablePropTimerDefault'
          options:
            type:
            - array
            - 'null'
            description: Available timer configuration options
            items:
              $ref: '#/components/schemas/ConfigurablePropTimerOption'
    ConfigurablePropBase:
      type: object
      description: A configuration or input field for a component.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: When building `configuredProps`, make sure to use this field as the key when setting the prop value
        type:
          type: string
          enum:
          - $.airtable.baseId
          - $.airtable.fieldId
          - $.airtable.tableId
          - $.airtable.viewId
          - $.discord.channel
          - $.discord.channel[]
          - $.interface.apphook
          - $.interface.http
          - $.interface.timer
          - $.service.db
          - alert
          - any
          - app
          - boolean
          - data_store
          - dir
          - http_request
          - integer
          - integer[]
          - object
          - sql
          - string
          - string[]
          x-fern-enum:
            $.discord.channel[]:
              name: DiscordChannelArray
            integer[]:
              name: IntegerArray
            string[]:
              name: StringArray
        label:
          type:
          - string
          - 'null'
          description: Value to use as an input label. In cases where `type` is "app", should load the app via `getApp`, etc. and show `app.name` instead.
        description:
          type:
          - string
          - 'null'
          description: A description of the prop, shown to the user when configuring the component.
        optional:
          type:
          - boolean
          - 'null'
          description: If true, this prop does not need to be specified.
        disabled:
          type:
          - boolean
          - 'null'
          description: If true, this prop will be ignored.
        readOnly:
          type:
          - boolean
          - 'null'
          description: If true, this prop is read-only — its value is either fixed by the component author (`static`) or the prop is purely informational (e.g. `alert`, `dir`). Connect clients should render it without treating it as a configurable input.
        hidden:
          type:
          - boolean
          - 'null'
          description: If true, should not expose this prop to the user
        remoteOptions:
          type:
          - boolean
          - 'null'
          description: 'If true, call `configureComponent` for this prop to load remote options. It is safe, and preferred, given a returned list of { label: string; value: any } objects to set the prop value to { __lv: { label: string; value: any } }. This way, on load, you can access label for the value without necessarily reloading these options'
        useQuery:
          type:
          - boolean
          - 'null'
          description: If true, calls to `configureComponent` for this prop support receiving a `query` parameter to filter remote options
        reloadProps:
          type:
          - boolean
          - 'null'
          description: If true, after setting a value for this prop, a call to `reloadComponentProps` is required as the component has dynamic configurable props dependent on this one
        withLabel:
          type:
          - boolean
          - 'null'
          description: 'If true, you must save the configured prop value as a "label-value" object which should look like: { __lv: { label: string; value: any } } because the execution needs to access the label'
    PropOptionNested:
      type: object
      description: A configuration option for a component's prop (nested under `__lv`)
      required:
      - __lv
      properties:
        __lv:
          $ref: '#/components/schemas/PropOption'
    ConfigurablePropStringFormat:
      type:
      - string
      - 'null'
      enum:
      - file-ref
      x-fern-enum:
        file-ref:
          name: FileRef
      description: The format of the string value. `file-ref` indicates a URL of a file or path to a file in the component's /tmp directory.
    HttpRequestBody:
      type:
      - object
      - 'null'
      description: Body configuration for HTTP request
      properties:
        type:
          type:
          - string
          - 'null'
          enum:
          - fields
          - raw
        contentType:
          type:
          - string
          - 'null'
        fields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/HttpRequestField'
        mode:
          type:
          - string
          - 'null'
          enum:
          - fields
          - raw
        raw:
          type:
          - string
          - 'null'
    ConfigurablePropAirtableTableId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable table.
        required:
        - type
        - baseIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.tableId
          baseIdProp:
            type: string
            description: The name of the prop that provides the Airtable base ID
    StashId:
      type:
      - string
      - 'null'
      description: The ID of the File Stash
    ConfigurablePropTimerOption:
      description: Timer configuration options
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    ConfigurablePropBoolean:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a boolean value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - boolean
          default:
            $ref: '#/components/schemas/ConfiguredPropValueBoolean'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropString:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a string value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string
          secret:
            type:
            - boolean
            - 'null'
            description: If true, this prop is a secret and should not be displayed in plain text.
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueString'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropDir:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to indicate how a component may access File Stash
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - dir
          accessMode:
            $ref: '#/components/schemas/ConfigurablePropDirAccessMode'
          sync:
            type: boolean
            description: If true, the component's /tmp directory is synchronized with File Stash
    ComponentStash:
      type:
      - string
      - 'null'
      enum:
      - optional
      - required
      description: Indicates if a File Stash ID is optional or required to run the component
    GetComponentResponse:
      type: object
      description: Response received when retrieving a specific component
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Component'
    ConfigurablePropInteger:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an integer value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer
          min:
            type:
            - integer
            - 'null'
            description: The minimum value for this integer prop.
          max:
            type:
            - integer
            - 'null'
            description: The maximum value for this integer prop.
          default:
            $ref: '#/components/schemas/ConfiguredPropValueInteger'
          options:
            type:
            - array
            - 'null'
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available integer options
    ConfigurablePropIntegerArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of integers.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer[]
          min:
            type:
            - integer
            - 'null'
            description: The minimum value for integers in this array
          max:
            type:
            - integer
            - 'null'
            description: The maximum value for integers in this array
          default:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ConfiguredPropValueInteger'
            description: Default array of integers
          options:
            type:
            - array
            - 'null'
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available options for the integer array
    PageInfo:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned
          example: 10
        total_count:
          type: integer
          description: Total number of items
          example: 120
        start_cursor:
          type:
          - string
          - 'null'
          description: Used to fetch the previous page of items
        end_cursor:
          type:
          - string
          - 'null'
          description: Used to fetch the next page of items
    ConfiguredPropValueInteger:
      type: number
    AccountId:
      type: string
      description: The unique ID of the account.
      pattern: ^apn_[a-zA-Z0-9]+$
    HttpRequestAuth:
      type:
      - object
      - 'null'
      description: Authentication configuration for HTTP request
      properties:
        type:
          type: string
          enum:
          - basic
          - bearer
          - none
          description: The authentication type
        username:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
        token:
          type:
          - string
          - 'null'
    ConfigurablePropSqlAuth:
      type:
      - object
      - 'null'
      properties:
        app:
          type: string
          description: The app that provides SQL authentication
    ConfiguredPropValueString:
      type: string
    ConfigurablePropDataStore:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a data store for key-value storage.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - data_store
    ConfigurePropOptions:
      type:
      - array
      - 'null'
      items:
        anyOf:
        - $ref: '#/components/schemas/PropOption'
        - $ref: '#/components/schemas/PropOptionNested'
      description: Available options (with labels) for the configured prop
    ConfiguredPropValueObject:
      type: object
    ConfiguredPropValueSql:
      type: object
      required:
      - value
      - query
      - params
      - usePreparedStatements
      properties:
        value:
          type: string
          description: The raw SQL query, as provided by the user
        query:
          type: string
          description: The SQL query to execute
        params:
          type: array
          description: The list of parameters for the prepared statement
          items:
            type: string
        usePreparedStatements:
          type: boolean
          description: Whether to use prepared statements for the query or not
    ConfiguredPropValueBoolean:
      type: boolean
    TimerCron:
      type: object
      description: Timer configuration using cron expression
      required:
      - cron
      properties:
        cron:
          type: string
          description: Cron expression for timer execution
    DynamicProps:
      type: object
      description: Dynamic properties of a saved component
      properties:
        id:
          type: string
          description: The unique ID of the dynamic prop
        configurableProps:
          type: array
          description: The updated configurable properties
          items:
            $ref: '#/components/schemas/ConfigurableProp'
    ConfiguredPropValueStringArray:
      type: array
      items:
        type: string
    ConfigurablePropApphook:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an app webhook interface.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.interface.apphook
          appProp:
            type: string
            description: The name of the app prop that this apphook depends on
          eventNames:
            type:
            - array
            - 'null'
            items:
              type: string
            description: List of event names to listen for
          remote:
            type:
            - boolean
            - 'null'
            description: Whether this apphook is remote
          static:
            type:
            - array
            - 'null'
            items: {}
            description: Static configuration for the apphook
  securitySchemes:
    OAuth2:
      description: A short-lived OAuth access token for server-side requests. Generate one via the Generate OAuth Token flow or automatically when initializing the SDK client.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pipedream.com/v1/oauth/token
          scopes:
            '*': Full access to every OAuth-protected endpoint.
            connect:*: Full access to all Connect API endpoints (components, projects, triggers, accounts, etc.).
            connect:actions:*: Full access to Connect actions.
            connect:triggers:*: Full access to Connect triggers.
            connect:accounts:read: List and fetch Connect accounts for an external user.
            connect:accounts:write: Create or remove Connect accounts.
            connect:deployed_triggers:read: Read deployed triggers and related data like events, pipelines and webhooks.
            connect:deployed_triggers:write: Modify or delete deployed triggers.
            connect:users:read: List and fetch external users
            connect:users:write: Delete external users.
            connect:projects:read: List and fetch projects owned by the workspace.
            connect:projects:write: Create, update, or delete projects owned by the workspace.
            connect:usage:read: List Connect usage records for a time window.
            connect:tokens:create: Create Connect session tokens.
            connect:proxy: Invoke the Connect proxy.
            connect:workflow:invoke: Invoke Connect workflows on behalf of a user.
    ConnectToken:
      description: A short-lived Connect token for client-side requests on behalf of an end user. Generate one via the Create Connect token endpoint.
      type: http
      scheme: bearer
      bearerFormat: ^ctok_[0-9a-f]{32}$
x-fern-sdk-variables:
  project_id:
    type: string
