openapi: 3.0.3
info:
  title: Pipedream MCP Server
  version: v3
  description: >-
    Pipedream's Model Context Protocol (MCP) server exposes 2,800+ integrated apps and
    10,000+ tools as a hosted MCP endpoint. The server supports both SSE and
    streamable HTTP transports dynamically with no client configuration required.
    Authentication uses OAuth 2.0 client credentials; per-request context is supplied via
    x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers.
    Source: https://pipedream.com/docs/connect/mcp/developers
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
  - url: https://remote.mcp.pipedream.net/v3
    description: Hosted Pipedream MCP server
security:
  - bearerAuth: []
tags:
  - name: MCP
paths:
  /:
    post:
      summary: Invoke MCP Method
      description: >-
        Generic JSON-RPC 2.0 entry point that handles MCP methods such as
        `initialize`, `tools/list`, `tools/call`, and `notifications/*`.
        The transport (SSE or streamable HTTP) is negotiated automatically based on the
        `Accept` request header.
      operationId: invokeMcp
      tags: [MCP]
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Environment'
        - $ref: '#/components/parameters/ExternalUserId'
        - $ref: '#/components/parameters/AppSlug'
        - in: header
          name: Accept
          required: false
          schema:
            type: string
            enum:
              - application/json
              - text/event-stream
            default: application/json
          description: Use `text/event-stream` to negotiate SSE; otherwise streamable HTTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
      responses:
        '200':
          description: JSON-RPC 2.0 response (or SSE stream).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
            text/event-stream:
              schema:
                type: string
        '401':
          description: Unauthorized - missing or invalid Bearer token.
        '403':
          description: Forbidden - account not connected for required tool.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
  parameters:
    ProjectId:
      in: header
      name: x-pd-project-id
      required: true
      schema: { type: string }
      description: Pipedream project ID scoping this MCP session.
    Environment:
      in: header
      name: x-pd-environment
      required: true
      schema:
        type: string
        enum: [development, production]
      description: Project environment.
    ExternalUserId:
      in: header
      name: x-pd-external-user-id
      required: true
      schema:
        type: string
        maxLength: 250
      description: Stable identifier for the end user in the developer's system.
    AppSlug:
      in: header
      name: x-pd-app-slug
      required: true
      schema: { type: string }
      description: Slug of the integrated app to scope tools to (e.g. notion, linear, slack).
  schemas:
    JsonRpcRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - { type: string }
            - { type: integer }
        method:
          type: string
          examples: [initialize, "tools/list", "tools/call"]
        params:
          type: object
    JsonRpcResponse:
      type: object
      required: [jsonrpc]
      properties:
        jsonrpc:
          type: string
          enum: ["2.0"]
        id:
          oneOf:
            - { type: string }
            - { type: integer }
        result:
          type: object
        error:
          type: object
          properties:
            code: { type: integer }
            message: { type: string }
            data: {}
