openapi: 3.0.3
info:
  title: Pipedream MCP Server Accounts Components API
  version: v3
  description: 'Pipedream''s Model Context Protocol (MCP) server exposes 2,800+ integrated apps and 10,000+ tools as a hosted MCP endpoint. The server supports both SSE and streamable HTTP transports dynamically with no client configuration required. Authentication uses OAuth 2.0 client credentials; per-request context is supplied via x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers. Source: https://pipedream.com/docs/connect/mcp/developers'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://remote.mcp.pipedream.net/v3
  description: Hosted Pipedream MCP server
security:
- bearerAuth: []
tags:
- name: Components
paths:
  /v1/connect/{project_id}/components:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: List Components
      description: Retrieve available components with optional search and app filtering
      operationId: listComponents
      x-fern-sdk-group-name: components
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.after
        next_cursor: $response.page_info.end_cursor
        results: $response.data
      parameters:
      - name: after
        in: query
        required: false
        description: The cursor to start from for pagination
        schema:
          type: string
      - name: before
        in: query
        required: false
        description: The cursor to end before for pagination
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The maximum number of results to return
        schema:
          type: integer
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: q
        in: query
        description: A search query to filter the components
        schema:
          type: string
      - name: app
        in: query
        description: The ID or name slug of the app to filter the components
        schema:
          type: string
      - name: registry
        in: query
        schema:
          type: string
          enum:
          - public
          - private
          - all
        description: The registry to retrieve components from. Defaults to 'all' ('public', 'private', or 'all')
      - name: component_type
        in: query
        schema:
          $ref: '#/components/schemas/ComponentType'
        description: The type of the component to filter the components
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: returns public + private without permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetComponentsResponse'
        '400':
          description: rejects invalid registry value
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.components.requests.ComponentsListRequest;\nimport com.pipedream.api.resources.components.types.ComponentsListRequestRegistry;\nimport com.pipedream.api.types.ComponentType;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.components().list(\n    ComponentsListRequest\n    .builder()\n    .after(\"after\")\n    .before(\"before\")\n    .limit(1)\n    .q(\"q\")\n    .app(\"app\")\n    .registry(ComponentsListRequestRegistry.PUBLIC)\n    .componentType(ComponentType.TRIGGER)\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nconst response = await client.components.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\",\n  app: \"app\",\n  registry: \"public\",\n  componentType: \"trigger\"\n});\nfor await (const item of response) {\n  console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.components.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  q: \"q\",\n  app: \"app\",\n  registry: \"public\",\n  componentType: \"trigger\"\n});\nwhile (page.hasNextPage()) {\n  page = page.getNextPage();\n}\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nresponse = client.components.list(\n  after=\"after\",\n  before=\"before\",\n  limit=1,\n  q=\"q\",\n  app=\"app\",\n  registry=\"public\",\n  component_type=\"trigger\",\n)\nfor item in response:\n  yield item\n# alternatively, you can paginate page-by-page\nfor page in response.iter_pages():\n  yield page\n"
      tags:
      - Components
  /v1/connect/{project_id}/components/{component_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: Retrieve Component
      description: Get detailed configuration for a specific component by its key
      operationId: retrieveComponent
      x-fern-sdk-group-name: components
      x-fern-sdk-method-name: retrieve
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: component_id
        in: path
        required: true
        description: The key that uniquely identifies the component (e.g., 'slack-send-message')
        schema:
          type: string
      - name: version
        in: query
        required: false
        description: Optional semantic version of the component to retrieve (for example '1.0.0')
        example: 1.2.3
        schema:
          type: string
      x-fern-sdk-return-value: data
      responses:
        '200':
          description: component retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetComponentResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.components.requests.ComponentsRetrieveRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.components().retrieve(\n    \"component_id\",\n    ComponentsRetrieveRequest\n    .builder()\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.components.retrieve(\"component_id\", {\n  version: \"1.2.3\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.components.retrieve(\n  component_id=\"component_id\",\n  version=\"1.2.3\",\n)\n"
      tags:
      - Components
  /v1/connect/{project_id}/components/configure:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Configure Component Prop
      description: Retrieve remote options for a given prop for a component
      operationId: configureComponentProp
      x-fern-sdk-group-name: components
      x-fern-sdk-method-name: configureProp
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      responses:
        '200':
          description: component configuration started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigurePropResponse'
        '202':
          description: Async operation started
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigurePropOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.types.ConfigurePropOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.components().configureProp(\n    ConfigurePropOpts\n    .builder()\n    .id(\"id\")\n    .externalUserId(\"external_user_id\")\n    .propName(\"prop_name\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.components.configureProp({\n  id: \"id\",\n  externalUserId: \"external_user_id\",\n  propName: \"prop_name\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.components.configure_prop(\n  id=\"id\",\n  external_user_id=\"external_user_id\",\n  prop_name=\"prop_name\",\n)\n"
      tags:
      - Components
  /v1/connect/{project_id}/components/props:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    post:
      summary: Reload Component Props
      operationId: reloadComponentProps
      x-fern-sdk-group-name: components
      x-fern-sdk-method-name: reloadProps
      description: Reload the prop definition based on the currently configured props
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      responses:
        '200':
          description: component props reloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReloadPropsResponse'
        '202':
          description: Async operation started
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReloadPropsOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.types.ReloadPropsOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.components().reloadProps(\n    ReloadPropsOpts\n    .builder()\n    .id(\"id\")\n    .externalUserId(\"external_user_id\")\n                .configuredProps(Map.of(\"key\", \"value\"))\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.components.reloadProps({\n  id: \"id\",\n  externalUserId: \"external_user_id\",\n  configuredProps: { key: \"value\" }\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.components.reload_props(\n  id=\"id\",\n  external_user_id=\"external_user_id\",\n  configured_props={ \"key\": \"value\" },\n)\n"
      tags:
      - Components
components:
  schemas:
    PropOptionValue:
      description: The value of a prop option
      oneOf:
      - type: string
      - type: integer
      - type: boolean
      nullable: true
    PropOption:
      type: object
      description: A configuration option for a component's prop
      required:
      - label
      - value
      properties:
        label:
          type: string
          description: The human-readable label for the option
        value:
          $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropApp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an account for a specific app
        required:
        - type
        - app
        properties:
          type:
            type: string
            enum:
            - app
          app:
            type: string
            description: The name slug of the app, e.g. 'github', 'slack', etc. This is used to identify the app for which the account is being configured.
    ConfiguredPropValueApp:
      type: object
      required:
      - authProvisionId
      properties:
        authProvisionId:
          $ref: '#/components/schemas/AccountId'
    ConfigurablePropDataStore:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a data store for key-value storage.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - data_store
    ConfigurablePropObject:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a set of key-value pairs.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - object
          default:
            $ref: '#/components/schemas/ConfiguredPropValueObject'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfiguredPropValueBoolean:
      type: boolean
    ObservationError:
      type: object
      description: Details about an observed error message
      properties:
        name:
          type: string
          description: The name of the error/exception
        message:
          type: string
          description: The error message
        stack:
          type: string
          description: The stack trace of the error
    ConfigurablePropInteger:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an integer value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer
          min:
            type: integer
            description: The minimum value for this integer prop.
            nullable: true
          max:
            type: integer
            description: The maximum value for this integer prop.
            nullable: true
          default:
            $ref: '#/components/schemas/ConfiguredPropValueInteger'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available integer options
            nullable: true
    ConfiguredPropValueAny:
      nullable: false
    ConfiguredPropValueString:
      type: string
    ConfigurablePropAlert:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an alert component
        required:
        - type
        - content
        properties:
          type:
            type: string
            enum:
            - alert
          alertType:
            $ref: '#/components/schemas/ConfigurablePropAlertType'
          content:
            type: string
            description: The content of the alert, which can include HTML or plain text.
    AccountId:
      type: string
      description: The unique ID of the account.
      pattern: ^apn_[a-zA-Z0-9]+$
    HttpRequestField:
      type: object
      description: A name-value field for HTTP request configuration
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: The field name
        value:
          type: string
          description: The field value
    DynamicProps:
      type: object
      description: Dynamic properties of a saved component
      properties:
        id:
          type: string
          description: The unique ID of the dynamic prop
        configurableProps:
          type: array
          description: The updated configurable properties
          items:
            $ref: '#/components/schemas/ConfigurableProp'
    ComponentType:
      type: string
      enum:
      - trigger
      - action
      description: The type of component (trigger or action)
    ConfigurablePropDirAccessMode:
      type: string
      enum:
      - read
      - write
      - read-write
      x-fern-enum:
        read-write:
          name: ReadWrite
      description: The mode in which the component may access File Stash
    ConfigurablePropTimer:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a timer interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.timer
          static:
            $ref: '#/components/schemas/ConfigurablePropTimerStatic'
          default:
            $ref: '#/components/schemas/ConfigurablePropTimerDefault'
          options:
            type: array
            nullable: true
            description: Available timer configuration options
            items:
              $ref: '#/components/schemas/ConfigurablePropTimerOption'
    ConfigurablePropTimerOption:
      nullable: true
      description: Timer configuration options
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    ConfigurablePropHttp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.http
          customResponse:
            type: boolean
            description: Whether this HTTP interface allows custom responses
            nullable: true
    ConfigurablePropAirtableViewId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable view.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.viewId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    ConfigurablePropDiscordChannel:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select a Discord channel.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    ConfigurablePropDiscordChannelArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select multiple Discord channels.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel[]
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    ConfigurablePropIntegerArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of integers.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer[]
          min:
            type: integer
            description: The minimum value for integers in this array
            nullable: true
          max:
            type: integer
            description: The maximum value for integers in this array
            nullable: true
          default:
            type: array
            items:
              $ref: '#/components/schemas/ConfiguredPropValueInteger'
            description: Default array of integers
            nullable: true
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available options for the integer array
            nullable: true
    ConfiguredPropValueSql:
      type: object
      required:
      - value
      - query
      - params
      - usePreparedStatements
      properties:
        value:
          type: string
          description: The raw SQL query, as provided by the user
        query:
          type: string
          description: The SQL query to execute
        params:
          type: array
          description: The list of parameters for the prepared statement
          items:
            type: string
        usePreparedStatements:
          type: boolean
          description: Whether to use prepared statements for the query or not
    ConfiguredPropValueObject:
      type: object
    ConfigurePropResponse:
      type: object
      description: Response received after configuring a component's prop
      properties:
        options:
          $ref: '#/components/schemas/ConfigurePropOptions'
        stringOptions:
          type: array
          items:
            type: string
          description: Available options for the configured prop
          nullable: true
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
          nullable: true
        context:
          type: object
          description: New context after configuring the prop
          nullable: true
        errors:
          type: array
          items:
            type: string
          description: Any errors that occurred during configuration
    ProjectEnvironment:
      type: string
      description: The environment in which the server client is running
      enum:
      - development
      - production
    HttpRequestAuth:
      type: object
      description: Authentication configuration for HTTP request
      nullable: true
      properties:
        type:
          type: string
          enum:
          - basic
          - bearer
          - none
          description: The authentication type
        username:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        token:
          type: string
          nullable: true
    ConfigurablePropDiscord:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: For Discord components, this prop can accept a Discord channel ID.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
    ConfigurablePropDb:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a database service.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.service.db
    ConfiguredPropValueStringArray:
      type: array
      items:
        type: string
    ConfigurablePropTimerStatic:
      nullable: true
      description: Static timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    PropOptionNested:
      type: object
      description: A configuration option for a component's prop (nested under `__lv`)
      required:
      - __lv
      properties:
        __lv:
          $ref: '#/components/schemas/PropOption'
    HttpRequestConfig:
      type: object
      description: Configuration for an HTTP request prop
      nullable: true
      properties:
        auth:
          $ref: '#/components/schemas/HttpRequestAuth'
        body:
          $ref: '#/components/schemas/HttpRequestBody'
        headers:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        params:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        tab:
          type: string
          nullable: true
        method:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    ConfigurablePropSql:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure SQL queries.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - sql
          auth:
            $ref: '#/components/schemas/ConfigurablePropSqlAuth'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueSql'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropBase:
      type: object
      description: A configuration or input field for a component.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: When building `configuredProps`, make sure to use this field as the key when setting the prop value
        type:
          type: string
          enum:
          - $.airtable.baseId
          - $.airtable.fieldId
          - $.airtable.tableId
          - $.airtable.viewId
          - $.discord.channel
          - $.discord.channel[]
          - $.interface.apphook
          - $.interface.http
          - $.interface.timer
          - $.service.db
          - alert
          - any
          - app
          - boolean
          - data_store
          - dir
          - http_request
          - integer
          - integer[]
          - object
          - sql
          - string
          - string[]
          x-fern-enum:
            $.discord.channel[]:
              name: DiscordChannelArray
            integer[]:
              name: IntegerArray
            string[]:
              name: StringArray
        label:
          type: string
          description: Value to use as an input label. In cases where `type` is "app", should load the app via `getApp`, etc. and show `app.name` instead.
          nullable: true
        description:
          type: string
          description: A description of the prop, shown to the user when configuring the component.
          nullable: true
        optional:
          type: boolean
          description: If true, this prop does not need to be specified.
          nullable: true
        disabled:
          type: boolean
          description: If true, this prop will be ignored.
          nullable: true
        readOnly:
          type: boolean
          description: If true, this prop is read-only — its value is either fixed by the component author (`static`) or the prop is purely informational (e.g. `alert`, `dir`). Connect clients should render it without treating it as a configurable input.
          nullable: true
        hidden:
          type: boolean
          description: If true, should not expose this prop to the user
          nullable: true
        remoteOptions:
          type: boolean
          description: 'If true, call `configureComponent` for this prop to load remote options. It is safe, and preferred, given a returned list of { label: string; value: any } objects to set the prop value to { __lv: { label: string; value: any } }. This way, on load, you can access label for the value without necessarily reloading these options'
          nullable: true
        useQuery:
          type: boolean
          description: If true, calls to `configureComponent` for this prop support receiving a `query` parameter to filter remote options
          nullable: true
        reloadProps:
          type: boolean
          description: If true, after setting a value for this prop, a call to `reloadComponentProps` is required as the component has dynamic configurable props dependent on this one
          nullable: true
        withLabel:
          type: boolean
          description: 'If true, you must save the configured prop value as a "label-value" object which should look like: { __lv: { label: string; value: any } } because the execution needs to access the label'
          nullable: true
    ConfigurablePropBoolean:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a boolean value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - boolean
          default:
            $ref: '#/components/schemas/ConfiguredPropValueBoolean'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    Observation:
      type: object
      description: Any logs produced during the configuration of the prop
      required:
      - k
      - ts
      properties:
        err:
          $ref: '#/components/schemas/ObservationError'
        k:
          type: string
          description: The source of the log (e.g. `console.log`)
        msg:
          type: string
          description: The log message
        ts:
          type: number
          description: The time at which the log was produced, as milliseconds since the epoch
    TimerCron:
      type: object
      description: Timer configuration using cron expression
      required:
      - cron
      properties:
        cron:
          type: string
          description: Cron expression for timer execution
    GetComponentsResponse:
      type: object
      description: Response received when retrieving a list of components
      required:
      - data
      - page_info
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Component'
        page_info:
          $ref: '#/components/schemas/PageInfo'
    ConfigurablePropAny:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept any value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - any
          default:
            $ref: '#/components/schemas/ConfiguredPropValueAny'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurableProp:
      description: A configuration or input field for a component. This is a discriminated union based on the type field.
      oneOf:
      - $ref: '#/components/schemas/ConfigurablePropAlert'
      - $ref: '#/components/schemas/ConfigurablePropAny'
      - $ref: '#/components/schemas/ConfigurablePropApp'
      - $ref: '#/components/schemas/ConfigurablePropBoolean'
      - $ref: '#/components/schemas/ConfigurablePropDataStore'
      - $ref: '#/components/schemas/ConfigurablePropDir'
      - $ref: '#/components/schemas/ConfigurablePropTimer'
      - $ref: '#/components/schemas/ConfigurablePropApphook'
      - $ref: '#/components/schemas/ConfigurablePropIntegerArray'
      - $ref: '#/components/schemas/ConfigurablePropHttp'
      - $ref: '#/components/schemas/ConfigurablePropHttpRequest'
      - $ref: '#/components/schemas/ConfigurablePropDb'
      - $ref: '#/components/schemas/ConfigurablePropSql'
      - $ref: '#/components/schemas/ConfigurablePropAirtableBaseId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableTableId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableViewId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableFieldId'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannel'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannelArray'
      - $ref: '#/components/schemas/ConfigurablePropDiscord'
      - $ref: '#/components/schemas/ConfigurablePropInteger'
      - $ref: '#/components/schemas/ConfigurablePropObject'
      - $ref: '#/components/schemas/ConfigurablePropString'
      - $ref: '#/components/schemas/ConfigurablePropStringArray'
      discriminator:
        propertyName: type
        mapping:
          alert: '#/components/schemas/ConfigurablePropAlert'
          any: '#/components/schemas/ConfigurablePropAny'
          app: '#/components/schemas/ConfigurablePropApp'
          boolean: '#/components/schemas/ConfigurablePropBoolean'
          data_store: '#/components/schemas/ConfigurablePropDataStore'
          dir: '#/components/schemas/ConfigurablePropDir'
          $.interface.timer: '#/components/schemas/ConfigurablePropTimer'
          $.interface.apphook: '#/components/schemas/ConfigurablePropApphook'
          integer[]: '#/components/schemas/ConfigurablePropIntegerArray'
          $.interface.http: '#/components/schemas/ConfigurablePropHttp'
          http_request: '#/components/schemas/ConfigurablePropHttpRequest'
          $.service.db: '#/components/schemas/ConfigurablePropDb'
          sql: '#/components/schemas/ConfigurablePropSql'
          $.airtable.baseId: '#/components/schemas/ConfigurablePropAirtableBaseId'
          $.airtable.tableId: '#/components/schemas/ConfigurablePropAirtableTableId'
          $.airtable.viewId: '#/components/schemas/ConfigurablePropAirtableViewId'
          $.airtable.fieldId: '#/components/schemas/ConfigurablePropAirtableFieldId'
          $.discord.channel: '#/components/schemas/ConfigurablePropDiscordChannel'
          $.discord.channel[]: '#/components/schemas/ConfigurablePropDiscordChannelArray'
          integer: '#/components/schemas/ConfigurablePropInteger'
          object: '#/components/schemas/ConfigurablePropObject'
          string: '#/components/schemas/ConfigurablePropString'
          string[]: '#/components/schemas/ConfigurablePropStringArray'
    ConfigurePropOptions:
      type: array
      items:
        anyOf:
        - $ref: '#/components/schemas/PropOption'
        - $ref: '#/components/schemas/PropOptionNested'
      description: Available options (with labels) for the configured prop
      nullable: true
    Component:
      type: object
      required:
      - key
      - name
      - version
      - configurable_props
      properties:
        key:
          type: string
          description: The key that uniquely identifies the component.
        name:
          type: string
          description: 'The human-readable name of the component, e.g. ''GitLab: List Commits'''
        version:
          type: string
          description: The latest version of the component, in SemVer format.
          pattern: ^\d+.\d+.\d+$
        configurable_props:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurableProp'
        description:
          type: string
          description: A description of the component
          nullable: true
        component_type:
          type: string
          description: The type of component (trigger or action)
          nullable: true
        stash:
          $ref: '#/components/schemas/ComponentStash'
        annotations:
          $ref: '#/components/schemas/ToolAnnotations'
    ErrorResponse:
      type: object
      description: Error response returned by the API in case of an error
      required:
      - error
      properties:
        error:
          type: string
          description: The error message
        code:
          type: string
          description: The error code
        details:
          type: object
          description: Additional error details
    TimerInterval:
      type: object
      description: Timer configuration using interval in seconds
      required:
      - intervalSeconds
      properties:
        intervalSeconds:
          type: integer
          description: Interval in seconds for timer execution
    PageInfo:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned
          example: 10
        total_count:
          type: integer
          description: Total number of items
          example: 120
        start_cursor:
          type: string
          description: Used to fetch the previous page of items
          nullable: true
        end_cursor:
          type: string
          description: Used to fetch the next page of items
          nullable: true
    ConfigurePropOpts:
      type: object
      description: Request options for configuring a component's prop
      required:
      - id
      - external_user_id
      - prop_name
      properties:
        id:
          type: string
          description: The component ID
        version:
          type: string
          description: Optional component version (in SemVer format, for example '1.0.0'), defaults to latest
          example: 1.2.3
          nullable: true
        external_user_id:
          type: string
          description: The external user ID
        prop_name:
          type: string
          description: The name of the prop to configure
        blocking:
          type: boolean
          description: Whether this operation should block until completion
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        dynamic_props_id:
          type: string
          description: The ID for dynamic props
        page:
          type: number
          description: Page number for paginated results
        prev_context:
          type: object
          description: Previous context for pagination
        query:
          type: string
          description: Search query for filtering options
    ConfiguredPropValueInteger:
      type: number
    ConfigurablePropAirtableFieldId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable field.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.fieldId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    ConfigurablePropApphook:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an app webhook interface.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.interface.apphook
          appProp:
            type: string
            description: The name of the app prop that this apphook depends on
          eventNames:
            type: array
            items:
              type: string
            description: List of event names to listen for
            nullable: true
          remote:
            type: boolean
            description: Whether this apphook is remote
            nullable: true
          static:
            type: array
            items: {}
            description: Static configuration for the apphook
            nullable: true
    ConfigurablePropAirtableTableId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable table.
        required:
        - type
        - baseIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.tableId
          baseIdProp:
            type: string
            description: The name of the prop that provides the Airtable base ID
    ConfiguredPropValue:
      nullable: false
      oneOf:
      - $ref: '#/components/schemas/ConfiguredPropValueAny'
      - $ref: '#/components/schemas/ConfiguredPropValueApp'
      - $ref: '#/components/schemas/ConfiguredPropValueBoolean'
      - $ref: '#/components/schemas/ConfiguredPropValueInteger'
      - $ref: '#/components/schemas/ConfiguredPropValueObject'
      - $ref: '#/components/schemas/ConfiguredPropValueSql'
      - $ref: '#/components/schemas/ConfiguredPropValueString'
      - $ref: '#/components/schemas/ConfiguredPropValueStringArray'
    ConfigurablePropStringArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of strings.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string[]
          secret:
            type: boolean
            description: If true, this prop is a secret and should not be displayed in plain text.
            nullable: true
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            type: array
            items:
              $ref: '#/components/schemas/ConfiguredPropValueString'
            description: The default value for this prop
            nullable: true
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropHttpRequest:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP request with URL, method, headers, params, body, and authentication.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - http_request
          default:
            $ref: '#/components/schemas/HttpRequestConfig'
    ReloadPropsOpts:
      type: object
      description: Request options for reloading a component's props when dealing with dynamic props
      required:
      - id
      - external_user_id
      properties:
        id:
          type: string
          description: The component ID
        version:
          type: string
          description: Optional component version (in SemVer format, for example '1.0.0'), defaults to latest
          example: 1.2.3
          nullable: true
        external_user_id:
          type: string
          description: The external user ID
        blocking:
          type: boolean
          description: Whether this operation should block until completion
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        dynamic_props_id:
          type: string
          description: The ID for dynamic props
    ConfigurablePropAlertType:
      type: string
      enum:
      - info
      - neutral
      - warning
      - error
      description: The severity level of the alert.
    ConfigurablePropAirtableBaseId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable base.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.baseId
          appProp:
            type: string
            description: The name of the app prop that provides Airtable authentication
    GetComponentResponse:
      type: object
      description: Response received when retrieving a specific component
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Component'
    ComponentStash:
      type: string
      enum:
      - optional
      - required
      description: Indicates if a File Stash ID is optional or required to run the component
      nullable: true
    ReloadPropsResponse:
      type: object
      description: Response from reloading component props
      properties:
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        errors:
          type: array
          items:
            type: string
          description: Any errors that occurred during configuration
        dynamicProps:
          $ref: '#/components/schemas/DynamicProps'
    ToolAnnotations:
      type: object
      description: Optional properties describing component behavior
      nullable: true
      properties:
        destructiveHint:
          type: boolean
          description: If true, the component may perform destructive updates to its environment. If false, the component performs only additive updates.
          nullable: true
        idempotentHint:
          type: boolean
          description: If true, calling the component repeatedly with the same arguments will have no additional effect on the its environment.
          nullable: true
        openWorldHint:
          type: boolean
          description: If true, this component may interact with an “open world” of external entities. If false, the component's domain of interaction is closed. For example, the world of a web search component is open, whereas that of a memory component is not.
          nullable: true
        readOnlyHint:
          type: boolean
          description: If true, the component does not modify its environment.
          nullable: true
        title:
          type: string
          description: A human-readable title for the component.
          nullable: true
    ConfigurablePropStringFormat:
      type: string
      enum:
      - file-ref
      x-fern-enum:
        file-ref:
          name: FileRef
      description: The format of the string value. `file-ref` indicates a URL of a file or path to a file in the component's /tmp directory.
      nullable: true
    ConfigurablePropString:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a string value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string
          secret:
            type: boolean
            description: If true, this prop is a secret and should not be displayed in plain text.
            nullable: true
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueString'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropTimerDefault:
      nullable: true
      description: Default timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    ConfigurablePropDir:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to indicate how a component may access File Stash
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - dir
          accessMode:
            $ref: '#/components/schemas/ConfigurablePropDirAccessMode'
          sync:
            type: boolean
            description: If true, the component's /tmp directory is synchronized with File Stash
    ConfigurablePropSqlAuth:
      type: object
      properties:
        app:
          type: string
          description: The app that provides SQL authentication
      nullable: true
    HttpRequestBody:
      type: object
      description: Body configuration for HTTP request
      nullable: true
      properties:
        type:
          type: string
          enum:
          - fields
          - raw
          nullable: true
        contentType:
          type: string
          nullable: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        mode:
          type: string
          enum:
          - fields
          - raw
          nullable: true
        raw:
          type: string
          nullable: true
    ConfiguredProps:
      type: object
      description: The configured properties of the component
      additionalProperties:
        $ref: '#/components/schemas/ConfiguredPropValue'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
