openapi: 3.2.0
info:
  version: '2026-05-22'
  title: Pipedream App Categories API
  description: 'The Pipedream API is the unified REST surface for Pipedream''s workflow automation, Connect (embedded integrations), MCP, and proxy services. It exposes account, user, component, action, trigger, deployed-trigger, webhook, project, proxy, file_stash, token, usage, and OAuth endpoints. Authentication is via OAuth 2.0 client credentials or a short-lived Connect token. Source: https://pipedream.com/docs/pipedream_openapi_swagger.json'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://api.pipedream.com
tags:
- name: App Categories
paths:
  /v1/connect/app_categories:
    get:
      summary: List App Categories
      description: Retrieve all available categories for integrated apps
      operationId: listAppCategories
      x-fern-sdk-group-name: appCategories
      x-fern-sdk-method-name: list
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: apps listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppCategoriesResponse'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .build();\n\n  client.appCategories().list();\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.appCategories.list();\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.app_categories.list()\n"
      tags:
      - App Categories
  /v1/connect/app_categories/{id}:
    get:
      summary: Retrieve App Category
      description: Get details of a specific app category by its ID
      operationId: retrieveAppCategory
      x-fern-sdk-group-name: appCategories
      x-fern-sdk-method-name: retrieve
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the app category to retrieve
        schema:
          pattern: ^appcar_[0-9a-zA-Z]+$
          type: string
      responses:
        '200':
          description: app retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAppCategoryResponse'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .build();\n\n  client.appCategories().retrieve(\"id\");\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.appCategories.retrieve(\"id\");\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.app_categories.retrieve(\n  id=\"id\",\n)\n"
      tags:
      - App Categories
components:
  schemas:
    AppCategory:
      type: object
      description: Response object for a Pipedream app category
      properties:
        id:
          type: string
          description: ID of the app category
        name:
          type: string
          description: The human-readable name of the app category
        description:
          type:
          - string
          - 'null'
          description: A short description of the app category
    GetAppCategoryResponse:
      $ref: '#/components/schemas/AppCategory'
    ListAppCategoriesResponse:
      type: array
      description: Response received when listing app categories
      items:
        $ref: '#/components/schemas/AppCategory'
  securitySchemes:
    OAuth2:
      description: A short-lived OAuth access token for server-side requests. Generate one via the Generate OAuth Token flow or automatically when initializing the SDK client.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pipedream.com/v1/oauth/token
          scopes:
            '*': Full access to every OAuth-protected endpoint.
            connect:*: Full access to all Connect API endpoints (components, projects, triggers, accounts, etc.).
            connect:actions:*: Full access to Connect actions.
            connect:triggers:*: Full access to Connect triggers.
            connect:accounts:read: List and fetch Connect accounts for an external user.
            connect:accounts:write: Create or remove Connect accounts.
            connect:deployed_triggers:read: Read deployed triggers and related data like events, pipelines and webhooks.
            connect:deployed_triggers:write: Modify or delete deployed triggers.
            connect:users:read: List and fetch external users
            connect:users:write: Delete external users.
            connect:projects:read: List and fetch projects owned by the workspace.
            connect:projects:write: Create, update, or delete projects owned by the workspace.
            connect:usage:read: List Connect usage records for a time window.
            connect:tokens:create: Create Connect session tokens.
            connect:proxy: Invoke the Connect proxy.
            connect:workflow:invoke: Invoke Connect workflows on behalf of a user.
    ConnectToken:
      description: A short-lived Connect token for client-side requests on behalf of an end user. Generate one via the Create Connect token endpoint.
      type: http
      scheme: bearer
      bearerFormat: ^ctok_[0-9a-f]{32}$
x-fern-sdk-variables:
  project_id:
    type: string
