openapi: 3.0.3
info:
  title: Pipedream MCP Server Accounts Deployed Triggers API
  version: v3
  description: 'Pipedream''s Model Context Protocol (MCP) server exposes 2,800+ integrated apps and 10,000+ tools as a hosted MCP endpoint. The server supports both SSE and streamable HTTP transports dynamically with no client configuration required. Authentication uses OAuth 2.0 client credentials; per-request context is supplied via x-pd-project-id, x-pd-environment, x-pd-external-user-id, and x-pd-app-slug headers. Source: https://pipedream.com/docs/connect/mcp/developers'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/connect/mcp
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://remote.mcp.pipedream.net/v3
  description: Hosted Pipedream MCP server
security:
- bearerAuth: []
tags:
- name: Deployed Triggers
paths:
  /v1/connect/{project_id}/deployed-triggers:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: List Deployed Triggers
      description: Retrieve all deployed triggers for a specific external user
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: after
        in: query
        required: false
        description: The cursor to start from for pagination
        schema:
          type: string
      - name: before
        in: query
        required: false
        description: The cursor to end before for pagination
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: The maximum number of results to return
        schema:
          type: integer
      - name: external_user_id
        in: query
        required: true
        description: Your end user ID, for whom you deployed the trigger
        schema:
          type: string
      - name: emitter_type
        in: query
        required: false
        description: Filter deployed triggers by emitter type (defaults to 'source' if not provided)
        schema:
          $ref: '#/components/schemas/EmitterType'
      operationId: listDeployedTriggers
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: list
      x-fern-pagination:
        cursor: $request.after
        next_cursor: $response.page_info.end_cursor
        results: $response.data
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: deployed triggers listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggersResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersListRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().list(\n    DeployedTriggersListRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nconst response = await client.deployedTriggers.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  externalUserId: \"external_user_id\",\n  emitterType: \"email\"\n});\nfor await (const item of response) {\n  console.log(item);\n}\n\n// Or you can manually iterate page-by-page\nlet page = await client.deployedTriggers.list({\n  after: \"after\",\n  before: \"before\",\n  limit: 1,\n  externalUserId: \"external_user_id\",\n  emitterType: \"email\"\n});\nwhile (page.hasNextPage()) {\n  page = page.getNextPage();\n}\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nresponse = client.deployed_triggers.list(\n  after=\"after\",\n  before=\"before\",\n  limit=1,\n  external_user_id=\"external_user_id\",\n  emitter_type=\"email\",\n)\nfor item in response:\n  yield item\n# alternatively, you can paginate page-by-page\nfor page in response.iter_pages():\n  yield page\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Deployed Trigger
      description: Get details of a specific deployed trigger by its ID
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: Your end user ID, for whom you deployed the trigger
        schema:
          type: string
      operationId: retrieveDeployedTrigger
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: retrieve
      security:
      - ConnectToken: []
      - OAuth2: []
      x-fern-sdk-return-value: data
      responses:
        '200':
          description: deployed trigger retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersRetrieveRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().retrieve(\n    \"trigger_id\",\n    DeployedTriggersRetrieveRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.retrieve(\"trigger_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.retrieve(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
    put:
      summary: Update Deployed Trigger
      description: Modify the configuration of a deployed trigger, including active status
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: updateDeployedTrigger
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: update
      security:
      - ConnectToken: []
      - OAuth2: []
      x-fern-sdk-return-value: data
      responses:
        '200':
          description: deployed trigger updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.UpdateTriggerOpts;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().update(\n    \"trigger_id\",\n    UpdateTriggerOpts\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.update(\"trigger_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.update(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
    delete:
      summary: Delete Deployed Trigger
      description: Remove a deployed trigger and stop receiving events
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      - name: ignore_hook_errors
        in: query
        description: Whether to ignore errors during deactivation hook
        schema:
          type: boolean
      operationId: deleteDeployedTrigger
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: delete
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '204':
          description: deployed trigger deleted
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersDeleteRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().delete(\n    \"trigger_id\",\n    DeployedTriggersDeleteRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.delete(\"trigger_id\", {\n  externalUserId: \"external_user_id\",\n  ignoreHookErrors: true\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.delete(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n  ignore_hook_errors=True,\n)\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}/events:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List Trigger Events
      description: Retrieve recent events emitted by a deployed trigger
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: Your end user ID, for whom you deployed the trigger
        schema:
          type: string
      - name: n
        in: query
        description: The number of events to retrieve (defaults to 20 if not provided)
        schema:
          type: integer
      operationId: listDeployedTriggerEvents
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: listEvents
      security:
      - ConnectToken: []
      - OAuth2: []
      x-fern-sdk-return-value: data
      responses:
        '200':
          description: trigger events retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerEventsResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersListEventsRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().listEvents(\n    \"trigger_id\",\n    DeployedTriggersListEventsRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.listEvents(\"trigger_id\", {\n  externalUserId: \"external_user_id\",\n  n: 1\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.list_events(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n  n=1,\n)\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}/pipelines:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List Trigger Workflows
      description: Get workflows connected to receive events from this trigger
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: listDeployedTriggerWorkflows
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: listWorkflows
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: trigger workflows retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerWorkflowsResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersListWorkflowsRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().listWorkflows(\n    \"trigger_id\",\n    DeployedTriggersListWorkflowsRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.listWorkflows(\"trigger_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.list_workflows(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
    put:
      summary: Update Trigger Workflows
      description: Connect or disconnect workflows to receive trigger events
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: updateDeployedTriggerWorkflows
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: updateWorkflows
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: trigger workflows updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerWorkflowsResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerWorkflowsOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.UpdateTriggerWorkflowsOpts;\nimport java.util.Arrays;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().updateWorkflows(\n    \"trigger_id\",\n    UpdateTriggerWorkflowsOpts\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .workflowIds(\n        Arrays.asList(\"workflow_ids\", \"workflow_ids\")\n    )\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.updateWorkflows(\"trigger_id\", {\n  externalUserId: \"external_user_id\",\n  workflowIds: [\"workflow_ids\"]\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.update_workflows(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n  workflow_ids=[\"workflow_ids\"],\n)\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}/webhooks:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: List Trigger Webhooks
      description: Get webhook URLs configured to receive trigger events
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: listDeployedTriggerWebhooks
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: listWebhooks
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: trigger webhooks retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerWebhooksResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersListWebhooksRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().listWebhooks(\n    \"trigger_id\",\n    DeployedTriggersListWebhooksRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.listWebhooks(\"trigger_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.list_webhooks(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
    put:
      summary: Update Trigger Webhooks
      description: Configure webhook URLs to receive trigger events. `signing_key` is only returned for OAuth-authenticated requests.
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: updateDeployedTriggerWebhooks
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: updateWebhooks
      security:
      - ConnectToken: []
      - OAuth2: []
      responses:
        '200':
          description: trigger webhooks updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTriggerWebhooksResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTriggerWebhooksOpts'
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.UpdateTriggerWebhooksOpts;\nimport java.util.Arrays;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().updateWebhooks(\n    \"trigger_id\",\n    UpdateTriggerWebhooksOpts\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .webhookUrls(\n        Arrays.asList(\"webhook_urls\")\n    )\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.updateWebhooks(\"trigger_id\", {\n  externalUserId: \"external_user_id\",\n  webhookUrls: [\"webhook_urls\"]\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.update_webhooks(\n  trigger_id=\"trigger_id\",\n  external_user_id=\"external_user_id\",\n  webhook_urls=[\"webhook_urls\"],\n)\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}/webhooks/{webhook_id}:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    - name: webhook_id
      in: path
      required: true
      schema:
        type: string
    get:
      summary: Get Trigger Webhook
      description: Retrieve a specific webhook for a deployed trigger, including its signing key
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: retrieveDeployedTriggerWebhook
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: retrieveWebhook
      security:
      - OAuth2: []
      responses:
        '200':
          description: trigger webhook retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookWithSigningKeyResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersRetrieveWebhookRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().retrieveWebhook(\n    \"trigger_id\",\n    \"webhook_id\",\n    DeployedTriggersRetrieveWebhookRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.retrieveWebhook(\"trigger_id\", \"webhook_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.retrieve_webhook(\n  trigger_id=\"trigger_id\",\n  webhook_id=\"webhook_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
  /v1/connect/{project_id}/deployed-triggers/{trigger_id}/webhooks/{webhook_id}/regenerate_signing_key:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    - name: trigger_id
      in: path
      required: true
      schema:
        type: string
    - name: webhook_id
      in: path
      required: true
      schema:
        type: string
    post:
      summary: Regenerate Trigger Webhook Signing Key
      description: Regenerate the signing key for a specific webhook on a deployed trigger
      parameters:
      - name: x-pd-environment
        in: header
        required: true
        description: The environment in which the server client is running
        schema:
          $ref: '#/components/schemas/ProjectEnvironment'
      - name: external_user_id
        in: query
        required: true
        description: The external user ID who owns the trigger
        schema:
          type: string
      operationId: regenerateDeployedTriggerWebhookSigningKey
      x-fern-sdk-group-name: deployedTriggers
      x-fern-sdk-method-name: regenerateWebhookSigningKey
      security:
      - OAuth2: []
      responses:
        '200':
          description: signing key regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWebhookWithSigningKeyResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.deployedtriggers.requests.DeployedTriggersRegenerateWebhookSigningKeyRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.deployedTriggers().regenerateWebhookSigningKey(\n    \"trigger_id\",\n    \"webhook_id\",\n    DeployedTriggersRegenerateWebhookSigningKeyRequest\n    .builder()\n    .externalUserId(\"external_user_id\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.deployedTriggers.regenerateWebhookSigningKey(\"trigger_id\", \"webhook_id\", {\n  externalUserId: \"external_user_id\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.deployed_triggers.regenerate_webhook_signing_key(\n  trigger_id=\"trigger_id\",\n  webhook_id=\"webhook_id\",\n  external_user_id=\"external_user_id\",\n)\n"
      tags:
      - Deployed Triggers
components:
  schemas:
    PropOptionValue:
      description: The value of a prop option
      oneOf:
      - type: string
      - type: integer
      - type: boolean
      nullable: true
    PropOption:
      type: object
      description: A configuration option for a component's prop
      required:
      - label
      - value
      properties:
        label:
          type: string
          description: The human-readable label for the option
        value:
          $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropApp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an account for a specific app
        required:
        - type
        - app
        properties:
          type:
            type: string
            enum:
            - app
          app:
            type: string
            description: The name slug of the app, e.g. 'github', 'slack', etc. This is used to identify the app for which the account is being configured.
    ConfiguredPropValueApp:
      type: object
      required:
      - authProvisionId
      properties:
        authProvisionId:
          $ref: '#/components/schemas/AccountId'
    ConfigurablePropDataStore:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a data store for key-value storage.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - data_store
    ConfigurablePropObject:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a set of key-value pairs.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - object
          default:
            $ref: '#/components/schemas/ConfiguredPropValueObject'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfiguredPropValueBoolean:
      type: boolean
    ConfigurablePropInteger:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an integer value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer
          min:
            type: integer
            description: The minimum value for this integer prop.
            nullable: true
          max:
            type: integer
            description: The maximum value for this integer prop.
            nullable: true
          default:
            $ref: '#/components/schemas/ConfiguredPropValueInteger'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available integer options
            nullable: true
    ConfiguredPropValueAny:
      nullable: false
    ConfiguredPropValueString:
      type: string
    Emitter:
      description: A component/interface that emits events
      anyOf:
      - $ref: '#/components/schemas/DeployedComponent'
      - $ref: '#/components/schemas/HttpInterface'
      - $ref: '#/components/schemas/TimerInterface'
      discriminator:
        propertyName: type
        mapping:
          DeployedComponent: '#/components/schemas/DeployedComponent'
          HttpInterface: '#/components/schemas/HttpInterface'
          TimerInterface: '#/components/schemas/TimerInterface'
    ConfigurablePropAlert:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an alert component
        required:
        - type
        - content
        properties:
          type:
            type: string
            enum:
            - alert
          alertType:
            $ref: '#/components/schemas/ConfigurablePropAlertType'
          content:
            type: string
            description: The content of the alert, which can include HTML or plain text.
    GetTriggerWebhooksResponse:
      type: object
      description: Response received when retrieving trigger webhooks
      required:
      - webhook_urls
      properties:
        webhook_urls:
          type: array
          items:
            type: string
            format: uri
        webhooks:
          type: array
          description: Webhook objects for the configured URLs. `signing_key` is only returned for OAuth-authenticated requests.
          items:
            $ref: '#/components/schemas/TriggerWebhook'
    AccountId:
      type: string
      description: The unique ID of the account.
      pattern: ^apn_[a-zA-Z0-9]+$
    DeployedComponent:
      type: object
      description: A deployed component instance
      required:
      - id
      - created_at
      - updated_at
      - active
      - component_id
      - configurable_props
      - configured_props
      - name
      - name_slug
      - owner_id
      - type
      properties:
        id:
          type: string
          description: The unique ID of the deployed component
          pattern: ^dc_[a-zA-Z0-9]+$
        owner_id:
          type: string
          description: The ID of the owner
        component_id:
          type: string
          description: The ID of the component that was deployed
        component_key:
          type: string
          description: The component key (name) that was deployed
          nullable: true
        configurable_props:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurableProp'
          description: The configurable properties of the component
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        active:
          type: boolean
          description: Whether the deployed component is active
        created_at:
          type: integer
          description: The timestamp when the component was deployed (epoch milliseconds)
        updated_at:
          type: integer
          description: The timestamp when the component was last updated (epoch milliseconds)
        name:
          type: string
          description: The name of the deployed component
        name_slug:
          type: string
          description: The name slug of the deployed component
        callback_observations:
          description: Callback observations for the deployed component
          nullable: true
        emit_on_deploy:
          type: boolean
          description: Whether the trigger emits events during the deploy hook execution. When false, the $emit function is disabled during deploy hook execution. Defaults to true.
          nullable: false
        type:
          type: string
          description: The discriminator field
          enum:
          - DeployedComponent
        webhook_signing_key:
          type: string
          description: The webhook signing key. Only returned for OAuth-authenticated requests when `webhook_url` is supplied.
          nullable: true
    HttpRequestField:
      type: object
      description: A name-value field for HTTP request configuration
      required:
      - name
      - value
      properties:
        name:
          type: string
          description: The field name
        value:
          type: string
          description: The field value
    ConfigurablePropDirAccessMode:
      type: string
      enum:
      - read
      - write
      - read-write
      x-fern-enum:
        read-write:
          name: ReadWrite
      description: The mode in which the component may access File Stash
    GetTriggerResponse:
      type: object
      description: Response received when retrieving a deployed trigger
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Emitter'
    ConfigurablePropTimer:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a timer interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.timer
          static:
            $ref: '#/components/schemas/ConfigurablePropTimerStatic'
          default:
            $ref: '#/components/schemas/ConfigurablePropTimerDefault'
          options:
            type: array
            nullable: true
            description: Available timer configuration options
            items:
              $ref: '#/components/schemas/ConfigurablePropTimerOption'
    ConfigurablePropTimerOption:
      nullable: true
      description: Timer configuration options
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    EmittedEvent:
      type: object
      description: An event emitted by a trigger
      required:
      - e
      - k
      - ts
      - id
      properties:
        e:
          type: object
          description: The event's payload
        k:
          type: string
          description: The event's type (set to 'emit' currently)
        ts:
          type: integer
          description: The event's timestamp in epoch milliseconds
        id:
          type: string
          description: The event's unique ID
    ConfigurablePropHttp:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP interface.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.interface.http
          customResponse:
            type: boolean
            description: Whether this HTTP interface allows custom responses
            nullable: true
    ConfigurablePropAirtableViewId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable view.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.viewId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    ConfigurablePropDiscordChannel:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select a Discord channel.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    ConfigurablePropDiscordChannelArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select multiple Discord channels.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel[]
          appProp:
            type: string
            description: The name of the app prop that provides Discord authentication
    EmitterType:
      type: string
      description: The type of the event emitting interface
      enum:
      - email
      - http
      - source
      - timer
    ConfigurablePropIntegerArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of integers.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - integer[]
          min:
            type: integer
            description: The minimum value for integers in this array
            nullable: true
          max:
            type: integer
            description: The maximum value for integers in this array
            nullable: true
          default:
            type: array
            items:
              $ref: '#/components/schemas/ConfiguredPropValueInteger'
            description: Default array of integers
            nullable: true
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
            description: Available options for the integer array
            nullable: true
    ConfiguredPropValueSql:
      type: object
      required:
      - value
      - query
      - params
      - usePreparedStatements
      properties:
        value:
          type: string
          description: The raw SQL query, as provided by the user
        query:
          type: string
          description: The SQL query to execute
        params:
          type: array
          description: The list of parameters for the prepared statement
          items:
            type: string
        usePreparedStatements:
          type: boolean
          description: Whether to use prepared statements for the query or not
    ConfiguredPropValueObject:
      type: object
    HttpRequestAuth:
      type: object
      description: Authentication configuration for HTTP request
      nullable: true
      properties:
        type:
          type: string
          enum:
          - basic
          - bearer
          - none
          description: The authentication type
        username:
          type: string
          nullable: true
        password:
          type: string
          nullable: true
        token:
          type: string
          nullable: true
    ConfigurablePropDiscord:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: For Discord components, this prop can accept a Discord channel ID.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.discord.channel
    ConfigurablePropDb:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure a database service.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - $.service.db
    ProjectEnvironment:
      type: string
      description: The environment in which the server client is running
      enum:
      - development
      - production
    ConfiguredPropValueStringArray:
      type: array
      items:
        type: string
    ConfigurablePropTimerStatic:
      nullable: true
      description: Static timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    GetWebhookWithSigningKeyResponse:
      type: object
      description: Response received when retrieving a webhook with its signing key
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/WebhookWithSigningKey'
    TriggerWebhook:
      type: object
      description: A trigger webhook object. `signing_key` is only returned for OAuth-authenticated requests.
      required:
      - id
      - url
      - signing_key_set
      properties:
        id:
          type: string
          description: The unique ID of the webhook
        url:
          type: string
          format: uri
          description: The webhook URL
        signing_key:
          type: string
          description: The webhook signing key, returned only for OAuth-authenticated requests
        signing_key_set:
          type: boolean
          description: Whether a signing key has been set for this webhook
    UpdateTriggerWorkflowsOpts:
      type: object
      description: Request options for updating workflows that listen to trigger events
      required:
      - workflow_ids
      properties:
        workflow_ids:
          type: array
          items:
            type: string
          description: Array of workflow IDs to set
    HttpInterface:
      type: object
      description: An HTTP interface instance
      required:
      - id
      - created_at
      - updated_at
      - custom_response
      - endpoint_url
      - key
      - type
      properties:
        id:
          type: string
          description: The unique ID of the HTTP interface
          pattern: ^hi_[a-zA-Z0-9]+$
        key:
          type: string
        endpoint_url:
          type: string
        custom_response:
          type: boolean
        created_at:
          type: integer
          description: The timestamp when the HTTP interface was created (epoch milliseconds)
        updated_at:
          type: integer
          description: The timestamp when the HTTP interface was last updated (epoch milliseconds)
        type:
          type: string
          description: The discriminator field
          enum:
          - HttpInterface
    PropOptionNested:
      type: object
      description: A configuration option for a component's prop (nested under `__lv`)
      required:
      - __lv
      properties:
        __lv:
          $ref: '#/components/schemas/PropOption'
    UpdateTriggerOpts:
      type: object
      description: Request options for updating a trigger
      properties:
        active:
          type: boolean
          description: Whether the trigger should be active
        configured_props:
          $ref: '#/components/schemas/ConfiguredProps'
        name:
          type: string
          description: The name of the trigger
        emit_on_deploy:
          type: boolean
          description: Whether the trigger should emit events during deployment
    HttpRequestConfig:
      type: object
      description: Configuration for an HTTP request prop
      nullable: true
      properties:
        auth:
          $ref: '#/components/schemas/HttpRequestAuth'
        body:
          $ref: '#/components/schemas/HttpRequestBody'
        headers:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        params:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        tab:
          type: string
          nullable: true
        method:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    ConfigurablePropBase:
      type: object
      description: A configuration or input field for a component.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: When building `configuredProps`, make sure to use this field as the key when setting the prop value
        type:
          type: string
          enum:
          - $.airtable.baseId
          - $.airtable.fieldId
          - $.airtable.tableId
          - $.airtable.viewId
          - $.discord.channel
          - $.discord.channel[]
          - $.interface.apphook
          - $.interface.http
          - $.interface.timer
          - $.service.db
          - alert
          - any
          - app
          - boolean
          - data_store
          - dir
          - http_request
          - integer
          - integer[]
          - object
          - sql
          - string
          - string[]
          x-fern-enum:
            $.discord.channel[]:
              name: DiscordChannelArray
            integer[]:
              name: IntegerArray
            string[]:
              name: StringArray
        label:
          type: string
          description: Value to use as an input label. In cases where `type` is "app", should load the app via `getApp`, etc. and show `app.name` instead.
          nullable: true
        description:
          type: string
          description: A description of the prop, shown to the user when configuring the component.
          nullable: true
        optional:
          type: boolean
          description: If true, this prop does not need to be specified.
          nullable: true
        disabled:
          type: boolean
          description: If true, this prop will be ignored.
          nullable: true
        readOnly:
          type: boolean
          description: If true, this prop is read-only — its value is either fixed by the component author (`static`) or the prop is purely informational (e.g. `alert`, `dir`). Connect clients should render it without treating it as a configurable input.
          nullable: true
        hidden:
          type: boolean
          description: If true, should not expose this prop to the user
          nullable: true
        remoteOptions:
          type: boolean
          description: 'If true, call `configureComponent` for this prop to load remote options. It is safe, and preferred, given a returned list of { label: string; value: any } objects to set the prop value to { __lv: { label: string; value: any } }. This way, on load, you can access label for the value without necessarily reloading these options'
          nullable: true
        useQuery:
          type: boolean
          description: If true, calls to `configureComponent` for this prop support receiving a `query` parameter to filter remote options
          nullable: true
        reloadProps:
          type: boolean
          description: If true, after setting a value for this prop, a call to `reloadComponentProps` is required as the component has dynamic configurable props dependent on this one
          nullable: true
        withLabel:
          type: boolean
          description: 'If true, you must save the configured prop value as a "label-value" object which should look like: { __lv: { label: string; value: any } } because the execution needs to access the label'
          nullable: true
    ConfigurablePropSql:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure SQL queries.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - sql
          auth:
            $ref: '#/components/schemas/ConfigurablePropSqlAuth'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueSql'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropBoolean:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a boolean value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - boolean
          default:
            $ref: '#/components/schemas/ConfiguredPropValueBoolean'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    TimerCron:
      type: object
      description: Timer configuration using cron expression
      required:
      - cron
      properties:
        cron:
          type: string
          description: Cron expression for timer execution
    TimerInterface:
      type: object
      description: A timer interface instance
      required:
      - id
      - created_at
      - updated_at
      - schedule_changed_at
      - timezone
      - type
      properties:
        id:
          type: string
          description: The unique ID of the timer interface
          pattern: ^ti_[a-zA-Z0-9]+$
        interval_seconds:
          type: number
        cron:
          type: string
        timezone:
          type: string
        schedule_changed_at:
          type: integer
        created_at:
          type: integer
          description: The timestamp when the timer interface was created (epoch milliseconds)
        updated_at:
          type: integer
          description: The timestamp when the timer interface was last updated (epoch milliseconds)
        type:
          type: string
          description: The discriminator field
          enum:
          - TimerInterface
    GetTriggerEventsResponse:
      type: object
      description: Response received when retrieving trigger events
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmittedEvent'
    ConfigurablePropAny:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept any value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - any
          default:
            $ref: '#/components/schemas/ConfiguredPropValueAny'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurableProp:
      description: A configuration or input field for a component. This is a discriminated union based on the type field.
      oneOf:
      - $ref: '#/components/schemas/ConfigurablePropAlert'
      - $ref: '#/components/schemas/ConfigurablePropAny'
      - $ref: '#/components/schemas/ConfigurablePropApp'
      - $ref: '#/components/schemas/ConfigurablePropBoolean'
      - $ref: '#/components/schemas/ConfigurablePropDataStore'
      - $ref: '#/components/schemas/ConfigurablePropDir'
      - $ref: '#/components/schemas/ConfigurablePropTimer'
      - $ref: '#/components/schemas/ConfigurablePropApphook'
      - $ref: '#/components/schemas/ConfigurablePropIntegerArray'
      - $ref: '#/components/schemas/ConfigurablePropHttp'
      - $ref: '#/components/schemas/ConfigurablePropHttpRequest'
      - $ref: '#/components/schemas/ConfigurablePropDb'
      - $ref: '#/components/schemas/ConfigurablePropSql'
      - $ref: '#/components/schemas/ConfigurablePropAirtableBaseId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableTableId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableViewId'
      - $ref: '#/components/schemas/ConfigurablePropAirtableFieldId'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannel'
      - $ref: '#/components/schemas/ConfigurablePropDiscordChannelArray'
      - $ref: '#/components/schemas/ConfigurablePropDiscord'
      - $ref: '#/components/schemas/ConfigurablePropInteger'
      - $ref: '#/components/schemas/ConfigurablePropObject'
      - $ref: '#/components/schemas/ConfigurablePropString'
      - $ref: '#/components/schemas/ConfigurablePropStringArray'
      discriminator:
        propertyName: type
        mapping:
          alert: '#/components/schemas/ConfigurablePropAlert'
          any: '#/components/schemas/ConfigurablePropAny'
          app: '#/components/schemas/ConfigurablePropApp'
          boolean: '#/components/schemas/ConfigurablePropBoolean'
          data_store: '#/components/schemas/ConfigurablePropDataStore'
          dir: '#/components/schemas/ConfigurablePropDir'
          $.interface.timer: '#/components/schemas/ConfigurablePropTimer'
          $.interface.apphook: '#/components/schemas/ConfigurablePropApphook'
          integer[]: '#/components/schemas/ConfigurablePropIntegerArray'
          $.interface.http: '#/components/schemas/ConfigurablePropHttp'
          http_request: '#/components/schemas/ConfigurablePropHttpRequest'
          $.service.db: '#/components/schemas/ConfigurablePropDb'
          sql: '#/components/schemas/ConfigurablePropSql'
          $.airtable.baseId: '#/components/schemas/ConfigurablePropAirtableBaseId'
          $.airtable.tableId: '#/components/schemas/ConfigurablePropAirtableTableId'
          $.airtable.viewId: '#/components/schemas/ConfigurablePropAirtableViewId'
          $.airtable.fieldId: '#/components/schemas/ConfigurablePropAirtableFieldId'
          $.discord.channel: '#/components/schemas/ConfigurablePropDiscordChannel'
          $.discord.channel[]: '#/components/schemas/ConfigurablePropDiscordChannelArray'
          integer: '#/components/schemas/ConfigurablePropInteger'
          object: '#/components/schemas/ConfigurablePropObject'
          string: '#/components/schemas/ConfigurablePropString'
          string[]: '#/components/schemas/ConfigurablePropStringArray'
    TimerInterval:
      type: object
      description: Timer configuration using interval in seconds
      required:
      - intervalSeconds
      properties:
        intervalSeconds:
          type: integer
          description: Interval in seconds for timer execution
    PageInfo:
      type: object
      properties:
        count:
          type: integer
          description: Number of items returned
          example: 10
        total_count:
          type: integer
          description: Total number of items
          example: 120
        start_cursor:
          type: string
          description: Used to fetch the previous page of items
          nullable: true
        end_cursor:
          type: string
          description: Used to fetch the next page of items
          nullable: true
    ConfiguredPropValueInteger:
      type: number
    ConfigurablePropAirtableFieldId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable field.
        required:
        - type
        - tableIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.fieldId
          tableIdProp:
            type: string
            description: The name of the prop that provides the Airtable table ID
    ConfigurablePropHttpRequest:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an HTTP request with URL, method, headers, params, body, and authentication.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - http_request
          default:
            $ref: '#/components/schemas/HttpRequestConfig'
    ConfigurablePropApphook:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to configure an app webhook interface.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.interface.apphook
          appProp:
            type: string
            description: The name of the app prop that this apphook depends on
          eventNames:
            type: array
            items:
              type: string
            description: List of event names to listen for
            nullable: true
          remote:
            type: boolean
            description: Whether this apphook is remote
            nullable: true
          static:
            type: array
            items: {}
            description: Static configuration for the apphook
            nullable: true
    ConfigurablePropAirtableTableId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable table.
        required:
        - type
        - baseIdProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.tableId
          baseIdProp:
            type: string
            description: The name of the prop that provides the Airtable base ID
    ConfiguredPropValue:
      nullable: false
      oneOf:
      - $ref: '#/components/schemas/ConfiguredPropValueAny'
      - $ref: '#/components/schemas/ConfiguredPropValueApp'
      - $ref: '#/components/schemas/ConfiguredPropValueBoolean'
      - $ref: '#/components/schemas/ConfiguredPropValueInteger'
      - $ref: '#/components/schemas/ConfiguredPropValueObject'
      - $ref: '#/components/schemas/ConfiguredPropValueSql'
      - $ref: '#/components/schemas/ConfiguredPropValueString'
      - $ref: '#/components/schemas/ConfiguredPropValueStringArray'
    ConfigurablePropStringArray:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept an array of strings.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string[]
          secret:
            type: boolean
            description: If true, this prop is a secret and should not be displayed in plain text.
            nullable: true
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            type: array
            items:
              $ref: '#/components/schemas/ConfiguredPropValueString'
            description: The default value for this prop
            nullable: true
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    GetTriggerWorkflowsResponse:
      type: object
      description: Response received when retrieving trigger workflows
      required:
      - workflow_ids
      properties:
        workflow_ids:
          type: array
          items:
            type: string
            pattern: ^p_[a-zA-Z0-9]+
    WebhookWithSigningKey:
      type: object
      description: A webhook object including the signing key
      required:
      - id
      - url
      - signing_key
      - signing_key_set
      - created_at
      - updated_at
      properties:
        id:
          type: string
          description: The unique ID of the webhook
        url:
          type: string
          format: uri
          description: The webhook URL
        signing_key:
          type: string
          description: The webhook signing key
        signing_key_set:
          type: boolean
          description: Whether a signing key has been set for this webhook
        created_at:
          type: integer
          description: The time the webhook was created, in epoch seconds
        updated_at:
          type: integer
          description: The time the webhook was last updated, in epoch seconds
    ConfigurablePropAlertType:
      type: string
      enum:
      - info
      - neutral
      - warning
      - error
      description: The severity level of the alert.
    ConfigurablePropAirtableBaseId:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to select an Airtable base.
        required:
        - type
        - appProp
        properties:
          type:
            type: string
            enum:
            - $.airtable.baseId
          appProp:
            type: string
            description: The name of the app prop that provides Airtable authentication
    UpdateTriggerWebhooksOpts:
      type: object
      description: Request options for updating webhooks that listen to trigger events
      required:
      - webhook_urls
      properties:
        webhook_urls:
          type: array
          items:
            type: string
          description: Array of webhook URLs to set
    ConfigurablePropStringFormat:
      type: string
      enum:
      - file-ref
      x-fern-enum:
        file-ref:
          name: FileRef
      description: The format of the string value. `file-ref` indicates a URL of a file or path to a file in the component's /tmp directory.
      nullable: true
    ConfigurablePropString:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop can accept a string value.
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - string
          secret:
            type: boolean
            description: If true, this prop is a secret and should not be displayed in plain text.
            nullable: true
          format:
            $ref: '#/components/schemas/ConfigurablePropStringFormat'
          default:
            $ref: '#/components/schemas/ConfiguredPropValueString'
          options:
            type: array
            items:
              anyOf:
              - $ref: '#/components/schemas/PropOption'
              - $ref: '#/components/schemas/PropOptionNested'
              - $ref: '#/components/schemas/PropOptionValue'
    ConfigurablePropTimerDefault:
      nullable: true
      description: Default timer configuration
      oneOf:
      - $ref: '#/components/schemas/TimerInterval'
      - $ref: '#/components/schemas/TimerCron'
    ConfigurablePropDir:
      allOf:
      - $ref: '#/components/schemas/ConfigurablePropBase'
      - type: object
        description: This prop is used to indicate how a component may access File Stash
        required:
        - type
        properties:
          type:
            type: string
            enum:
            - dir
          accessMode:
            $ref: '#/components/schemas/ConfigurablePropDirAccessMode'
          sync:
            type: boolean
            description: If true, the component's /tmp directory is synchronized with File Stash
    ConfigurablePropSqlAuth:
      type: object
      properties:
        app:
          type: string
          description: The app that provides SQL authentication
      nullable: true
    HttpRequestBody:
      type: object
      description: Body configuration for HTTP request
      nullable: true
      properties:
        type:
          type: string
          enum:
          - fields
          - raw
          nullable: true
        contentType:
          type: string
          nullable: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/HttpRequestField'
          nullable: true
        mode:
          type: string
          enum:
          - fields
          - raw
          nullable: true
        raw:
          type: string
          nullable: true
    GetTriggersResponse:
      type: object
      description: Response received when listing deployed triggers
      required:
      - data
      - page_info
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Emitter'
        page_info:
          $ref: '#/components/schemas/PageInfo'
    ConfiguredProps:
      type: object
      description: The configured properties of the component
      additionalProperties:
        $ref: '#/components/schemas/ConfiguredPropValue'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth access token
