openapi: 3.2.0
info:
  version: '2026-05-22'
  title: Pipedream File Stash API
  description: 'The Pipedream API is the unified REST surface for Pipedream''s workflow automation, Connect (embedded integrations), MCP, and proxy services. It exposes account, user, component, action, trigger, deployed-trigger, webhook, project, proxy, file_stash, token, usage, and OAuth endpoints. Authentication is via OAuth 2.0 client credentials or a short-lived Connect token. Source: https://pipedream.com/docs/pipedream_openapi_swagger.json'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://api.pipedream.com
tags:
- name: File Stash
paths:
  /v1/connect/{project_id}/file_stash/download:
    parameters:
    - name: project_id
      in: path
      required: true
      description: The project ID, which starts with `proj_`.
      schema:
        type: string
        pattern: ^proj_[a-zA-Z0-9]+$
      x-fern-sdk-variable: project_id
    get:
      summary: Download File
      description: Download a file from File Stash
      operationId: downloadFileStashFile
      x-fern-sdk-group-name: fileStash
      x-fern-sdk-method-name: downloadFile
      security:
      - ConnectToken: []
      - OAuth2: []
      parameters:
      - name: s3_key
        in: query
        schema:
          type: string
          pattern: ^1day\/[^\/]+\/[^\/]+\/[^\/]+\/u\/.*$
          description: The S3 key for the file to download
        required: true
      responses:
        '200':
          description: file contents
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '302':
          description: redirected to presigned URL
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: The presigned URL
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/octet-stream:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.filestash.requests.FileStashDownloadFileRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .projectId(\"YOUR_PROJECT_ID\")\n    .build();\n\n  client.fileStash().downloadFile(\n    FileStashDownloadFileRequest\n    .builder()\n    .s3Key(\"s3_key\")\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.fileStash.downloadFile({\n  s3Key: \"s3_key\"\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.file_stash.download_file(\n  s_3_key=\"s3_key\",\n)\n"
      tags:
      - File Stash
components:
  securitySchemes:
    OAuth2:
      description: A short-lived OAuth access token for server-side requests. Generate one via the Generate OAuth Token flow or automatically when initializing the SDK client.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pipedream.com/v1/oauth/token
          scopes:
            '*': Full access to every OAuth-protected endpoint.
            connect:*: Full access to all Connect API endpoints (components, projects, triggers, accounts, etc.).
            connect:actions:*: Full access to Connect actions.
            connect:triggers:*: Full access to Connect triggers.
            connect:accounts:read: List and fetch Connect accounts for an external user.
            connect:accounts:write: Create or remove Connect accounts.
            connect:deployed_triggers:read: Read deployed triggers and related data like events, pipelines and webhooks.
            connect:deployed_triggers:write: Modify or delete deployed triggers.
            connect:users:read: List and fetch external users
            connect:users:write: Delete external users.
            connect:projects:read: List and fetch projects owned by the workspace.
            connect:projects:write: Create, update, or delete projects owned by the workspace.
            connect:usage:read: List Connect usage records for a time window.
            connect:tokens:create: Create Connect session tokens.
            connect:proxy: Invoke the Connect proxy.
            connect:workflow:invoke: Invoke Connect workflows on behalf of a user.
    ConnectToken:
      description: A short-lived Connect token for client-side requests on behalf of an end user. Generate one via the Create Connect token endpoint.
      type: http
      scheme: bearer
      bearerFormat: ^ctok_[0-9a-f]{32}$
x-fern-sdk-variables:
  project_id:
    type: string
