openapi: 3.2.0
info:
  version: '2026-05-22'
  title: Pipedream Usage API
  description: 'The Pipedream API is the unified REST surface for Pipedream''s workflow automation, Connect (embedded integrations), MCP, and proxy services. It exposes account, user, component, action, trigger, deployed-trigger, webhook, project, proxy, file_stash, token, usage, and OAuth endpoints. Authentication is via OAuth 2.0 client credentials or a short-lived Connect token. Source: https://pipedream.com/docs/pipedream_openapi_swagger.json'
  contact:
    name: Pipedream
    url: https://pipedream.com/docs/
  license:
    name: Proprietary
    url: https://pipedream.com/terms
servers:
- url: https://api.pipedream.com
tags:
- name: Usage
paths:
  /v1/connect/usage:
    get:
      summary: List Usage Records
      description: Retrieve Connect usage records for a time window
      operationId: listUsages
      x-fern-sdk-group-name: usage
      x-fern-sdk-method-name: list
      security:
      - OAuth2: []
      parameters:
      - name: start_ts
        in: query
        required: true
        description: Usage window start timestamp (seconds)
        schema:
          type: integer
      - name: end_ts
        in: query
        required: true
        description: Usage window end timestamp (seconds)
        schema:
          type: integer
      responses:
        '200':
          description: usage records listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectUsageResponse'
        '400':
          description: invalid timestamps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: too many requests
          headers:
            Retry-After:
              description: Number of seconds until the rate limit resets
              schema:
                type: integer
            X-RateLimit-Limit:
              schema:
                type: integer
              description: The rate limit threshold
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of requests remaining (always 0 when throttled)
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Unix timestamp when the rate limit resets
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Throttled
      x-codeSamples:
      - lang: java
        label: Java SDK
        source: "package com.example.usage;\n\nimport com.pipedream.api.BaseClient;\nimport com.pipedream.api.resources.usage.requests.UsageListRequest;\n\npublic class Example {\n  public static void main(String[] args) {\n  BaseClient client = BaseClient\n    .builder()\n    .clientId(\"<clientId>\")\n    .clientSecret(\"<clientSecret>\")\n    .build();\n\n  client.usage().list(\n    UsageListRequest\n    .builder()\n    .startTs(1)\n    .endTs(1)\n    .build()\n  );\n  }\n}\n"
      - lang: typescript
        label: TypeScript SDK
        source: "import { PipedreamClient } from \"@pipedream/sdk\";\n\nconst client = new PipedreamClient({\n  clientId: \"YOUR_CLIENT_ID\",\n  clientSecret: \"YOUR_CLIENT_SECRET\",\n  projectEnvironment: \"YOUR_PROJECT_ENVIRONMENT\",\n  projectId: \"YOUR_PROJECT_ID\"\n});\nawait client.usage.list({\n  startTs: 1,\n  endTs: 1\n});\n"
      - lang: python
        label: Python SDK
        source: "from pipedream import Pipedream\n\nclient = Pipedream(\n  project_id=\"YOUR_PROJECT_ID\",\n  project_environment=\"YOUR_PROJECT_ENVIRONMENT\",\n  client_id=\"YOUR_CLIENT_ID\",\n  client_secret=\"YOUR_CLIENT_SECRET\",\n)\nclient.usage.list(\n  start_ts=1,\n  end_ts=1,\n)\n"
      tags:
      - Usage
components:
  schemas:
    ErrorResponse:
      type: object
      description: Error response returned by the API in case of an error
      required:
      - error
      properties:
        error:
          type: string
          description: The error message
        code:
          type: string
          description: The error code
        details:
          type: object
          description: Additional error details
    ConnectUsage:
      type: object
      description: Connect usage record
      required:
      - credits_used
      - usage_start_ts
      - usage_end_ts
      properties:
        credits_used:
          type: integer
          description: Total Connect credits used
        action_run_credits_used:
          type:
          - integer
          - 'null'
          description: Credits used when running Connect actions
        proxy_credits_used:
          type:
          - integer
          - 'null'
          description: Credits used by Connect proxy requests
        source_emit_credits_used:
          type:
          - integer
          - 'null'
          description: Credits used by Connect source event emissions
        usage_start_ts:
          type: integer
          description: Usage window start timestamp (seconds)
        usage_end_ts:
          type: integer
          description: Usage window end timestamp (seconds)
    ConnectUsageResponse:
      type: object
      description: Connect usage records for a time window
      required:
      - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ConnectUsage'
  securitySchemes:
    OAuth2:
      description: A short-lived OAuth access token for server-side requests. Generate one via the Generate OAuth Token flow or automatically when initializing the SDK client.
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.pipedream.com/v1/oauth/token
          scopes:
            '*': Full access to every OAuth-protected endpoint.
            connect:*: Full access to all Connect API endpoints (components, projects, triggers, accounts, etc.).
            connect:actions:*: Full access to Connect actions.
            connect:triggers:*: Full access to Connect triggers.
            connect:accounts:read: List and fetch Connect accounts for an external user.
            connect:accounts:write: Create or remove Connect accounts.
            connect:deployed_triggers:read: Read deployed triggers and related data like events, pipelines and webhooks.
            connect:deployed_triggers:write: Modify or delete deployed triggers.
            connect:users:read: List and fetch external users
            connect:users:write: Delete external users.
            connect:projects:read: List and fetch projects owned by the workspace.
            connect:projects:write: Create, update, or delete projects owned by the workspace.
            connect:usage:read: List Connect usage records for a time window.
            connect:tokens:create: Create Connect session tokens.
            connect:proxy: Invoke the Connect proxy.
            connect:workflow:invoke: Invoke Connect workflows on behalf of a user.
    ConnectToken:
      description: A short-lived Connect token for client-side requests on behalf of an end user. Generate one via the Create Connect token endpoint.
      type: http
      scheme: bearer
      bearerFormat: ^ctok_[0-9a-f]{32}$
x-fern-sdk-variables:
  project_id:
    type: string
